/* ================= */
/* ================= */
/* navbar.css */
/* ================= */
/* ================= */

.hc-header {
	width: 100%;
}

.hc-headerContainer {
	/* padding: var(--hc-spacing-04) var(--hc-spacing-13); */
	padding-top: var(--hc-spacing-04);
	padding-right: var(--hc-spacing-05);
	padding-left: var(--hc-spacing-05);
	background: var(--hc-background-default);
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	align-items: flex-start;
	justify-content: space-between;
	margin: auto;
	max-width: 1440px;
	gap: 24px;
	border-bottom: 1px solid var(--hc-border-color-subtle);
}

/* commented out because fixed position isn't needed */
/* .topbar {
	width: 100%;
	background: #113c66;
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
} */

.hc-navbarLogoContainer {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: start;
	justify-content: flex-start;
	/* padding: var(--hc-spacing-04) var(--hc-spacing-05); */
}

.hc-navLogo {
	width: 100%;
	max-width: 377px;
	height: auto;
	display: block;
}

.hc-navLogoAndSearch {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	width: 100%;
}

@media (min-width: 40.0625rem) {
	.hc-navLogoAndSearch {
		flex-direction: row;
	}
}

.hc-navListContainer {
	background-color: var(--hc-gray-50);
	width: 100%;
	padding: 8px 0px;
	border-top: 1px solid var(--hc-border-color-subtle);
	border-bottom: 1px solid var(--hc-border-color-subtle);
}

.hc-navList {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0px;
	gap: 24px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
}
@media (min-width: 40.0625rem) {
	.hc-navList {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding-left: 16px;
		gap: 24px;
	}
}

.hc-navItem {
	display: inline;
}

.hc-navItem a[aria-current="page"] {
	font-weight: 700;
}
