/* Accordion style : BEGIN */
@import "primeicons/primeicons.css";


:host{
    .p-accordion .p-accordion-header .p-accordion-header-link {
        padding: 1.5rem 1rem !important;
        border: none !important;
        color: #6c757d;
        background: #f8f9fa;
        display: flex;
        justify-content: space-between;
    }
    
    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        outline: #0058a4  4px solid !important; 
        /* outline: 4px solid #000; */
        outline-offset: 0;
        box-shadow: 0 0 0 .2rem #000
    }
    
    /* .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link,
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link ,
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        background: #44c8f5 !important;
        border-color: #44c8f5 !important;
        color: #000;
    } */
    
    .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
        margin-right: 0 !important;
        order: 1;
        font-size: 32px !important;
        font-weight: 400 !important;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
        color: #495057 !important;
    }
    
    .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-header-text{
        order: 0 !important;
        font-family: Segoe UI;
        font-size: 32px !important;
        font-weight: 400 !important;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
      }
    
      .p-accordion p-accordiontab .p-accordion-tab {
        /* margin-bottom: 0; */
        margin-bottom: 1rem !important;
      }
    
    .p-accordion .p-accordion-content {
        padding: 1rem !important;
        margin-top: 0.5rem;
        border: 0 solid #dee2e6 !important;
        font-family: Segoe UI;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .p-accordion .p-accordion-content h3{
        font-family: Segoe UI;
        font-size: 27px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    
    .p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link {
        border-radius: 0;
    }
    
    .p-accordion p-accordiontab .p-accordion-content {
        border-radius: 0;
    }
    
    .p-accordion p-accordiontab:not(:first-child) .p-accordion-header .p-accordion-header-link {
        border-top: 0 none;
    }
    
    .p-accordion p-accordiontab:not(:first-child) .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link,
    .p-accordion p-accordiontab:not(:first-child) .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
        border-top: 0 none;
    }
}



/* Accordion style : END */