/* @import "../index.css";
@import "../margin.css";
@import "../padding.css";
@import "../semanticTokens.css";
@import "../borderRadius.css"; */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #000;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: var(--button-border);
  padding: var(--spacing-03) var(--spacing-03);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--radius-01);
  /*  
  animation is commented out -- do we want to use animation? Could that be cognitive overload for some people? How do USDWDS, Gov.uk approach animation in their systems?

  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-colorL 0.1s ease-in-out, box-shadow 0.1s ease-in-out;*/
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
/*Default state styling*/
.btn-primary {
  color: var(--text-on-color, #fff);
  background: var(--button-primary);
  border: 1px solid var(--button-border, #113c66);
}

.btn-secondary {
  color: var(--link-primary, #0058a4);
  border: 1px solid var(--button-secondary-border, #113c66);
  background: var(--button-secondary, #fff);
}

.btn-danger {
  color: var(--text-on-color, #fff);
  border: 1px solid var(--button-border, #113c66);
  background: var(--button-danger, #ce1432);
}

/*Hover styling*/
.btn-primary:hover {
  border: 1px solid var(--button-border, #113c66);
  background: var(--button-primary-hover, #113c66);
}

.btn-secondary:hover {
  color: var(--text-on-color, #fff);
  border: 1px solid var(--button-secondary-border, #113c66);
  background: var(--button-secondary-hover, #113c66);
}

.btn-danger:hover {
  color: var(--text-on-color, #fff);
  border: 1px solid var(--button-border, #113c66);
  background: var(--button-danger-hover, #ac0f28);
}

/*Active stylings*/
.btn-primary:active {
  border: 1px solid var(--button-border, #113c66);
  background: var(--button-primary-active, #0a223a);
}

.btn-secondary:active {
  border: 1px solid var(--button-secondary-border, #113c66);
  background: var(--button-secondary-active, #0a223a);
}

.btn-danger:active {
  color: var(--text-on-color, #fff);
  border: 1px solid var(--button-border, #113c66);
  background: var(--button-danger-acti, #ac0f28);
}

/*focus styling*/
.btn:focus,
.btn.focus {
  box-shadow: var(--focus-inset);
}

/*Sizing  styling*/
.btn-lg {
  height: 3.25rem;
  padding: var(--spacing-03) var(--spacing-03);
}

/********************************************************************/
/*
**use this class for generic button hover styling**

.btn:hover {
}

*/
/********************************************************************/
/*
small button commented out -- doesn't have accessible target size
keep in code for reference -- may make sense in future to add small size for internal applications with very dense UI

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}
*/
/********************************************************************/
/*
focus indicator

variant-specific focus styling commented out for the generic styling, use this if there's need for variant-dependent styling in the future

.btn-primary:focus,
.btn-primary.focus,
.btn-secondary:focus,
.btn-secondary.focus {


  **focus state white and blue**
  box-shadow: var(--focus-inset);
}
*/
/********************************************************************/
/*
****disabled styling*****


.btn.disabled,
.btn:disabled {
  color: var(--text-disabled, #9da7b1);
  background: var(--button-disabled, #bec8d1);
}

.btn-secondary.btn.disabled,
.btn-secondary:disabled {
  color: var(--text-disabled, #9da7b1);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
a.btn.disabled {
  pointer-events: none;
}
*//*# sourceMappingURL=buttonTesting.css.map */