.hc-select {
  margin-top: var(--hc-spacing-01);
  font-family: var(--hc-font-family);
  font-size: var(--hc-font-body-size-regular);
  line-height: 125%;
  min-width: 280px;
  padding-top: var(--hc-spacing-03);
  padding-bottom: var(--hc-spacing-03);
  padding-left: var(--hc-spacing-02);
  padding-right: var(--hc-spacing-03);
  border: 2px solid var(--hc-field-border-color);
  border-radius: var(--hc-border-radius-02);
  max-width: 100%;
  background-color: var(--hc-white);
  min-width: 11.5em;
  max-width: 100%;
  appearance: none;
  background: url(./icons/carbon_chevron-down.svg) no-repeat;
  background-position: right 5px top 50%;
}

.hc-select:focus {
  border: var(--hc-border-style-focus);
  outline: var(--hc-outline-style-focus);
}

/* =================== */
/* =================== */
/* Error state styling */
/* =================== */
/* =================== */
.hc-select--error {
  border: 2px solid var(--hc-border-color-error);
}
