<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="./select.css" />
    <title>Select</title>
  </head>

  <body class="hc-padding-xy-06">
    <h1 class="hc-margin-top-06">Select</h1>

    <h2>Without helper text</h2>

    <div class="hc-form-group">
      <label class="hc-field-label" for="select1">Select an option</label>
      <select class="hc-select" name="select1" id="select1">
        <option value="">--Choose an option--</option>
        <option value="item1">Item 1</option>
        <option value="item2">Item 2</option>
        <option value="item3">Item 3</option>
      </select>
    </div>

    <h2>With helper text</h2>

    <div class="hc-form-group">
      <label class="hc-field-label" for="select2">Select an option</label>
      <div id="helpful-hint1" class="hc-text-hint">
        Text with helpful information for someone completing this task
      </div>
      <select
        class="hc-select"
        name="select2"
        id="select2"
        aria-describedby="helpful-hint1"
      >
        <option value="">--Choose an option--</option>
        <option value="item1">Item 1</option>
        <option value="item2">Item 2</option>
        <option value="item3">Item 3</option>
      </select>
    </div>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Styling and accessibility guidance for validation -->
    <!-- You might not need both the error and hint examples on each radio button -->
    <!-- Determine need based on the context of the radio button question -->

    <h2>With error</h2>
    <div class="hc-form-group">
      <label class="hc-field-label" for="select3">Select an option</label>
      <div id="helpful-error2" class="hc-text-error">
        Error text - please choose an option
      </div>
      
      <!-- aria-invalid="true" should be added/removed dynamically based on validation logic -->
      <select
        class="hc-select hc-select--error"
        name="select3"
        id="select3"
        aria-describedby="helpful-error2"
        aria-invalid="true"
      >
        <option value="">--Choose an option--</option>
        <option value="item1">Item 1</option>
        <option value="item2">Item 2</option>
        <option value="item3">Item 3</option>
      </select>
    </div>


    <!-- Styling and accessibility guidance for validation -->
    <!-- You might not need both the error and hint examples on each radio button -->
    <!-- Determine need based on the context of the radio button question -->
    
    <h2>With helper and error</h2>
    <div class="hc-form-group">
      <label class="hc-field-label" for="select4">Select an option</label>
      <div id="hint-example-3" class="hc-text-hint">
        Text with helpful information for someone completing this task
      </div>
      <div id="error-example-3" class="hc-text-error">
        Error text - please choose an option
      </div>

      <!-- aria-invalid="true" should be added/removed dynamically based on validation logic -->
      <select
        class="hc-select hc-select--error"
        name="select4"
        id="select4"
        aria-describedby="hint-example-3 error-example-3"
        aria-invalid="true"
      >
        <option value="">--Choose an option--</option>
        <option value="item1">Item 1</option>
        <option value="item2">Item 2</option>
        <option value="item3">Item 3</option>
      </select>
    </div>
  </body>
</html>
