<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="./skiplink.css" />
    <title>Skiplinks</title>
  </head>
  <body class="hc-skiplink-body hc-padding-xy-07">
    <br />

    <!-- ================ -->
    <!-- ================ -->
    <!-- Skip nav link -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Change the focus of the skip navigation link to the beginning of your main content -->
    <!-- The skip navigation should be located in the banner/header landmark of your website -->
    <!-- and move users to the first heading level in the main landmark  -->
    <a href="#main-content" class="hc-skiplink" tabindex="0">Skip to Heading 3</a>
    
    <div>
      <p>To view the skip link component tab in this example, navigate to inside this example and press the tab key.</p>
      <h2>Heading 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
        Cras elementum ultrices diam. Maecenas ligula massa, varius a, 
        semper congue, euismod non, mi.
      </p>

      <h2>Heading 2</h2>
      <p>
        Proin porttitor, orci nec libero, enim est eleifend mi, 
        non fermentum diam nisl sit amet erat. Duis semper. 
        Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. 
        Pellentesque congue.
      </p>

      <h2 id="main-content">Heading 3</h2>
      <p>
        Ut sed libero eu ante tincidunt congue. 
        Praesent sapien massa, auctor a, facilisis in, egestas eget, quam. 
        Integer nec nibh. Phasellus nulla. Integer vulputate, 
        risus a ultricies adipiscing, enim mi tempor libero, 
        eget bibendum turpis elit ut lectus.
      </p>

    </div>
  </body>
</html>
