.hc-skiplink {
  /* taken from govuk
  https://github.com/alphagov/govuk-frontend/blob/b44d7b0fe66847fb34881841b6550174111ea9ba/packages/govuk-frontend/src/govuk/helpers/_visually-hidden.scss#L4
  /// Hide an element visually, but have it available for screen readers whilst
  /// allowing the element to be focused when navigated to via the keyboard (e.g.
  /// for the skip link)
  ///
  /// This is slightly less opinionated about borders and padding to make it
  /// easier to style the focused element.
  */
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /*
  // For long content, line feeds are not interpreted as spaces and small width
  // causes content to wrap 1 word per line:
  // https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  white-space: nowrap !important;
}

.hc-skiplink:focus:active,
.hc-skiplink:focus:focus {
  position: absolute !important;
  width: auto !important;
  height: 36px !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important;
  background-color: var(--hc-background-brand);
  border: var(--hc-border-style-focus);
  outline: var(--hc-outline-style-focus);
  border-radius: var(--hc-border-radius-02);
  padding-left: var(--hc-spacing-03);
  padding-right: var(--hc-spacing-03);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hc-skiplink:focus:focus {
  background-color: var(--hc-red-400);
}
.hc-skiplink:focus:hover {
  background-color: var(--hc-red-500);
}

.hc-skiplink:focus:active {
  background-color: var(--hc-red-600);
}

a.hc-skiplink:hover {
  color: var(--hc-gray-10) !important;
}

a.hc-skiplink:visited {
  color: var(--hc-white);
}
