// Border radius / corner rounding

// Use small radius for smaller elements like buttons
// Use larger radius for larger elements like cards or containers

:root {
	--hc-border-radius-base: 1rem;

	--hc-border-radius-00: calc(var(--hc-border-radius-base) * 0); /*0px*/
	--hc-border-radius-01: calc(var(--hc-border-radius-base) * 0.125); /*2px*/
	--hc-border-radius-02: calc(var(--hc-border-radius-base) * 0.25); /*4px*/
	--hc-border-radius-03: calc(var(--hc-border-radius-base) * 0.5); /*8px*/
	--hc-border-radius-04: calc(var(--hc-border-radius-base) * 0.75); /*12px*/

	--hc-border-radius-none: 0px;
	--hc-border-radius-regular: 6px;
	--hc-border-radius-pill: 9999px;
	--hc-border-radius-circle: 50%;
}
