:root {
	//Focus state borders/shaddows/etc
	//Border needs to be the internal color
	//Outline needs to be the external color because of offset

	//These could be rewritten -- BorderSize should handle sizing

	// Border

	--hc-border-brand: 2px solid var(--hc-background-brand);
	--hc-border-interactive: 2px solid var(--hc-background-interactive);
	--hc-border-color-interactive-hover: var(--hc-background-interactive-hover);
	--hc-border-color-interactive-active: var(--hc-background-interactive-active);
	--hc-border-style-focus: 2px solid var(--hc-border-color-focus-inner);
	--hc-border-style-focus-alternate: 2px solid
		var(--hc-border-color-focus-outer);
	--hc-border-style-transparent: 2px solid var(--hc-transparent);
	// Outline
	--hc-outline-style-focus: var(--hc-background-interactive) solid 3px;
}
