:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: #ffffff, 0;

  //   Green
  --green-10: #f1fee1;
  --green-20: #cbf87c;
  --green-30: #b2e34b;
  --green-40: #9dc93a;
  --green-50: #87ac3a;
  --green-60: #648227;
  --green-70: #475c1b;
  --green-80: #2f3e10;
  --green-90: #222e09;
  --green-100: #182105;

  //   Blue
  --blue-10: #f5f9fe;
  --blue-20: #ddebfd;
  --blue-30: #b7d6fa;
  --blue-40: #80b8f8;
  --blue-50: #5a99f7;
  --blue-60: #236ec3;
  --blue-70: #0058a4;
  --blue-80: #113c66;
  --blue-90: #0c2640;
  --blue-100: #081c2f;

  //   Cyan
  --cyan-10: #e2f5ff;
  --cyan-20: #c5edff;
  --cyan-30: #a0e3fe;
  --cyan-40: #44c8f5;
  --cyan-50: #00aeef;
  --cyan-60: #008dc2;
  --cyan-70: #006a94;
  --cyan-80: #004561;
  --cyan-90: #003248;
  --cyan-100: #001a27;

  //   Red
  --red-10: #fff2f2;
  --red-20: #ffdcdc;
  --red-30: #feb9b9;
  --red-40: #f99291;
  --red-50: #f56664;
  --red-60: #ef413d;
  --red-70: #ce1432;
  --red-80: #93001c;
  --red-90: #60000e;
  --red-100: #410007;

  //   Yellow
  --yellow-10: #fff4dc;
  --yellow-20: #ffdc7a;
  --yellow-40: #ebba00;
  --yellow-50: #c19900;
  --yellow-30: #ffcb05;
  --yellow-60: #8c6e00;
  --yellow-70: #695200;
  --yellow-80: #483700;
  --yellow-90: #332600;
  --yellow-100: #241a00;

  //   Gray
  --gray-10: #f3f5f6;
  --gray-20: #e6e9ec;
  --gray-30: #d0d1d2;
  --gray-40: #b4b6bb;
  --gray-50: #999ea3;
  --gray-60: #6c757d;
  --gray-70: #4a5158;
  --gray-80: #343a40;
  --gray-90: #24292d;
  --gray-100: #171a1d;

  //   Orange
  --orange-10: #ffeee6;
  --orange-20: #ffd8c4;
  --orange-30: #ffb887;
  --orange-40: #f7941e;
  --orange-50: #d98219;
  --orange-60: #ae670e;
  --orange-70: #884f08;
  --orange-80: #673a00;
  --orange-90: #512c00;
  --orange-100: #331a00;

  //   Purple
  --purple-10: #f3e4ff;
  --purple-20: #e9cafe;
  --purple-30: #ce87f6;
  --purple-40: #b861e2;
  --purple-50: #a53ad2;
  --purple-60: #7e2aa2;
  --purple-70: #672184;
  --purple-80: #4d1764;
  --purple-90: #3e1151;
  --purple-100: #270834;

  //   Gray-warm
  --gray-warm-10: #fbf6f4;
  --gray-warm-20: #f0e7e3;
  --gray-warm-30: #ded3ce;
  --gray-warm-40: #c2b5ac;
  --gray-warm-50: #a49e99;
  --gray-warm-60: #928684;
  --gray-warm-70: #6a615f;
  --gray-warm-80: #47413f;
  --gray-warm-90: #2f2b2a;
  --gray-warm-100: #201d1c;

  //   Lime
  --lime-10: #f5ffb7;
  --lime-20: #e3ed7e;
  --lime-30: #cbdb2a;
  --lime-40: #adbb22;
  --lime-50: #909d11;
  --lime-60: #727d0b;
  --lime-70: #586106;
  --lime-80: #383d02;
  --lime-90: #262901;
  --lime-100: #1c1c01;
}
