// Color primitives

:root {
	--hc-black: #000000;
	--hc-transparent: rgba(255, 255, 255, 0);
	--hc-white: #ffffff;
	--hc-blue-50: #f0f7ff;
	--hc-blue-100: #dfefff;
	--hc-blue-200: #b9defe;
	--hc-blue-300: #7bc6fe;
	--hc-blue-400: #34a8fc;
	--hc-blue-500: #0a8eed;
	--hc-blue-600: #006fcb;
	--hc-blue-700: #0058a4;
	--hc-blue-800: #054c87;
	--hc-blue-900: #113c66;
	--hc-blue-950: #07284a;
	--hc-gray-50: #f9fafb;
	--hc-gray-100: #f3f4f6;
	--hc-gray-200: #e5e7eb;
	--hc-gray-300: #d1d5db;
	--hc-gray-400: #99a1af;
	--hc-gray-500: #6a7282;
	--hc-gray-600: #4a5565;
	--hc-gray-700: #364153;
	--hc-gray-800: #1e2939;
	--hc-gray-900: #101828;
	--hc-gray-950: #030712;
	--hc-green-50: #edfff5;
	--hc-green-100: #d6ffe9;
	--hc-green-200: #afffd4;
	--hc-green-300: #71ffb4;
	--hc-green-400: #2dfb8c;
	--hc-green-500: #02e56c;
	--hc-green-600: #00bf56;
	--hc-green-700: #009245;
	--hc-green-800: #06753b;
	--hc-green-900: #085f33;
	--hc-green-950: #00361a;
	--hc-orange-50: #fef5ee;
	--hc-orange-100: #fde7d7;
	--hc-orange-200: #fbccad;
	--hc-orange-300: #f8a779;
	--hc-orange-400: #f47943;
	--hc-orange-500: #f15a24;
	--hc-orange-600: #e23d14;
	--hc-orange-700: #bb2b13;
	--hc-orange-800: #952517;
	--hc-orange-900: #782116;
	--hc-orange-950: #410d09;
	--hc-pink-50: #fef1f6;
	--hc-pink-100: #fee5ef;
	--hc-pink-200: #ffcbe1;
	--hc-pink-300: #ffa1c7;
	--hc-pink-400: #ff7bac;
	--hc-pink-500: #fa3a7c;
	--hc-pink-600: #ea1855;
	--hc-pink-700: #cc0a3e;
	--hc-pink-800: #a80c33;
	--hc-pink-900: #8c0f2e;
	--hc-pink-950: #560116;
	--hc-red-50: #fff5f5;
	--hc-red-100: #ffe4e4;
	--hc-red-200: #fecdcf;
	--hc-red-300: #fda4a8;
	--hc-red-400: #fb717a;
	--hc-red-500: #f43f4f;
	--hc-red-600: #e11d38;
	--hc-red-700: #ce1432;
	--hc-red-800: #9f122d;
	--hc-red-900: #88132d;
	--hc-red-950: #4c0513;
	--hc-sky-50: #f0faff;
	--hc-sky-100: #e1f3fd;
	--hc-sky-200: #bbe9fc;
	--hc-sky-300: #7fd9fa;
	--hc-sky-400: #44c8f5;
	--hc-sky-500: #12afe5;
	--hc-sky-600: #068dc3;
	--hc-sky-700: #06709e;
	--hc-sky-800: #095e83;
	--hc-sky-900: #0e4f6c;
	--hc-sky-950: #093248;
	--hc-ui-blue-50: #eff3ff;
	--hc-ui-blue-100: #c6d9ff;
	--hc-ui-blue-200: #a8c6ff;
	--hc-ui-blue-300: #6a9cff;
	--hc-ui-blue-400: #407eff;
	--hc-ui-blue-500: #1d62f4;
	--hc-ui-blue-600: #0047e2;
	--hc-ui-blue-700: #0b35b2;
	--hc-ui-blue-800: #11267f;
	--hc-ui-blue-900: #0c1555;
	--hc-ui-blue-950: #060941;
	--hc-yellow-50: #fff8eb;
	--hc-yellow-100: #feeac7;
	--hc-yellow-200: #fdd48a;
	--hc-yellow-300: #fbb03b;
	--hc-yellow-400: #fa9e25;
	--hc-yellow-500: #f47a0c;
	--hc-yellow-600: #d85607;
	--hc-yellow-700: #bb2b13;
	--hc-yellow-800: #922b0e;
	--hc-yellow-900: #78250f;
	--hc-yellow-950: #451003;
}
