//gap utility classes for flexbox or css grid

.gap-00 {
  gap: var(--spacing-00);
}

.gap-01 {
  gap: var(--spacing-01);
}

.gap-02 {
  gap: var(--spacing-02);
}

.gap-03 {
  gap: var(--spacing-03);
}

.gap-04 {
  gap: var(--spacing-04);
}

.gap-05 {
  gap: var(--spacing-05);
}

.gap-06 {
  gap: var(--spacing-06);
}

.gap-07 {
  gap: var(--spacing-07);
}

.gap-08 {
  gap: var(--spacing-08);
}

.gap-09 {
  gap: var(--spacing-09);
}

.gap-10 {
  gap: var(--spacing-10);
}

.gap-11 {
  gap: var(--spacing-11);
}

.gap-12 {
  gap: var(--spacing-12);
}

.gap-13 {
  gap: var(--spacing-13);
}
