//gap utility classes for flexbox or css grid

.hc-gap-00 {
  gap: var(--hc-spacing-00);
}

.hc-gap-01 {
  gap: var(--hc-spacing-01);
}

.hc-gap-02 {
  gap: var(--hc-spacing-02);
}

.hc-gap-03 {
  gap: var(--hc-spacing-03);
}

.hc-gap-04 {
  gap: var(--hc-spacing-04);
}

.hc-gap-05 {
  gap: var(--hc-spacing-05);
}

.hc-gap-06 {
  gap: var(--hc-spacing-06);
}

.hc-gap-07 {
  gap: var(--hc-spacing-07);
}

.hc-gap-08 {
  gap: var(--hc-spacing-08);
}

.hc-gap-09 {
  gap: var(--hc-spacing-09);
}

.hc-gap-10 {
  gap: var(--hc-spacing-10);
}

.hc-gap-11 {
  gap: var(--hc-spacing-11);
}

.hc-gap-12 {
  gap: var(--hc-spacing-12);
}

.hc-gap-13 {
  gap: var(--hc-spacing-13);
}
