// Height variables for components with multuple sizes
// Based on https://medium.com/eightshapes-llc/size-in-design-systems-64f234aec519

// Components with sizes are currently:
// Buttons

// Components that may have sizes are:
// Text input fields
// Table cells
// Select / Dropdown / Combobox

:root {
  --hc-height--small: 2.25rem;
  --hc-height--medium: 2.5rem;
  --hc-height--large: 3rem;
}
