// Icon sizing

.hc-icon-size--small {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  fill: currentColor;
}

.hc-icon-size--regular {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  fill: currentColor;
}

.hc-icon-size--large {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  fill: currentColor;
}
