// Icon styling
// Must import Material Symbols stylesheet into HTML to access icons
// copy and paste:
// <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
//
// search for icon names at https://fonts.google.com/icons
//
// insert icons as <span> elements
//
// Example:
//      <button class="hc-secondary">
//      Button label text
//      <span class="hc-symbols-outlined hc-icon-size-regular"> star </span>
//      </button>
//

.hc-icon-size--small {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  fill: currentColor;
}

.hc-icon-size--regular {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  fill: currentColor;
}

.hc-icon-size--large {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  fill: currentColor;
}
