// Icon styling
// Must import Material Symbols stylesheet into HTML to access icons
// copy and paste:
// <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
//
// search for icon names at https://fonts.google.com/icons
//
// insert icons as <span> elements
//
// Example:
//      <button class="hc-secondary">
//      Button label text
//      <span class="hc-symbols-outlined hc-icon-size-regular"> star </span>
//      </button>
//

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.hc-icon-size-small {
  font-size: 1.125rem; /* 18px */
}

.hc-icon-size-regular {
  font-size: 1.5rem; /* 24px */
}

.hc-icon-size-large {
  font-size: 2rem; /* 32px */
}
