//Must be imported after _spacing.scss
/*Margin utility classes*/

/*margin all*/
.margin-xy-01 {
  margin: var(--spacing-01);
}

.margin-xy-02 {
  margin: var(--spacing-02);
}
.margin-xy-03 {
  margin: var(--spacing-03);
}
.margin-xy-04 {
  margin: var(--spacing-04);
}

.margin-xy-05 {
  margin: var(--spacing-05);
}

.margin-xy-06 {
  margin: var(--spacing-06);
}

.margin-xy-07 {
  margin: var(--spacing-07);
}
.margin-xy-08 {
  margin: var(--spacing-08);
}

.margin-xy-09 {
  margin: var(--spacing-09);
}

.margin-xy-10 {
  margin: var(--spacing-10);
}

.margin-xy-11 {
  margin: var(--spacing-11);
}

.margin-xy-12 {
  margin: var(--spacing-12);
}

.margin-xy-13 {
  margin: var(--spacing-13);
}

/*margin left and right*/
.margin-x-01 {
  margin-left: var(--spacing-01);
  margin-right: var(--spacing-01);
}

.margin-x-02 {
  margin-left: var(--spacing-02);
  margin-right: var(--spacing-02);
}

.margin-x-03 {
  margin-left: var(--spacing-03);
  margin-right: var(--spacing-03);
}
.margin-x-04 {
  margin-left: var(--spacing-04);
  margin-right: var(--spacing-04);
}
.margin-x-05 {
  margin-left: var(--spacing-05);
  margin-right: var(--spacing-05);
}
.margin-x-06 {
  margin-left: var(--spacing-06);
  margin-right: var(--spacing-06);
}
.margin-x-07 {
  margin-left: var(--spacing-07);
  margin-right: var(--spacing-07);
}

.margin-x-08 {
  margin-left: var(--spacing-08);
  margin-right: var(--spacing-08);
}

.margin-x-09 {
  margin-left: var(--spacing-09);
  margin-right: var(--spacing-09);
}
.margin-x-10 {
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
}
.margin-x-11 {
  margin-left: var(--spacing-11);
  margin-right: var(--spacing-11);
}
.margin-x-12 {
  margin-left: var(--spacing-12);
  margin-right: var(--spacing-12);
}

.margin-x-13 {
  margin-left: var(--spacing-13);
  margin-right: var(--spacing-13);
}

/*margin top and bottom*/
.margin-y-01 {
  margin-top: var(--spacing-01);
  margin-bottom: var(--spacing-01);
}

.margin-y-02 {
  margin-top: var(--spacing-02);
  margin-bottom: var(--spacing-02);
}

.margin-y-03 {
  margin-top: var(--spacing-03);
  margin-bottom: var(--spacing-03);
}
.margin-y-04 {
  margin-top: var(--spacing-04);
  margin-bottom: var(--spacing-04);
}
.margin-y-05 {
  margin-top: var(--spacing-05);
  margin-bottom: var(--spacing-05);
}
.margin-y-06 {
  margin-top: var(--spacing-06);
  margin-bottom: var(--spacing-06);
}
.margin-y-07 {
  margin-top: var(--spacing-07);
  margin-bottom: var(--spacing-07);
}

.margin-y-08 {
  margin-top: var(--spacing-08);
  margin-bottom: var(--spacing-08);
}

.margin-y-09 {
  margin-top: var(--spacing-09);
  margin-bottom: var(--spacing-09);
}
.margin-y-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}
.margin-y-11 {
  margin-top: var(--spacing-11);
  margin-bottom: var(--spacing-11);
}
.margin-y-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}

.margin-y-13 {
  margin-top: var(--spacing-13);
  margin-bottom: var(--spacing-13);
}

/*margin top*/
.margin-top-01 {
  margin-top: var(--spacing-01);
}

.margin-top-02 {
  margin-top: var(--spacing-02);
}

.margin-top-03 {
  margin-top: var(--spacing-03);
}
.margin-top-04 {
  margin-top: var(--spacing-04);
}
.margin-top-05 {
  margin-top: var(--spacing-05);
}
.margin-top-06 {
  margin-top: var(--spacing-06);
}
.margin-top-07 {
  margin-top: var(--spacing-07);
}

.margin-top-08 {
  margin-top: var(--spacing-08);
}

.margin-top-09 {
  margin-top: var(--spacing-09);
}
.margin-top-10 {
  margin-top: var(--spacing-10);
}
.margin-top-11 {
  margin-top: var(--spacing-11);
}
.margin-top-12 {
  margin-top: var(--spacing-12);
}

.margin-top-13 {
  margin-top: var(--spacing-13);
}

/*margin bottom*/
.margin-bottom-01 {
  margin-bottom: var(--spacing-01);
}

.margin-bottom-02 {
  margin-bottom: var(--spacing-02);
}

.margin-bottom-03 {
  margin-bottom: var(--spacing-03);
}
.margin-bottom-04 {
  margin-bottom: var(--spacing-04);
}
.margin-bottom-05 {
  margin-bottom: var(--spacing-05);
}
.margin-bottom-06 {
  margin-bottom: var(--spacing-06);
}
.margin-bottom-07 {
  margin-bottom: var(--spacing-07);
}

.margin-bottom-08 {
  margin-bottom: var(--spacing-08);
}

.margin-bottom-09 {
  margin-bottom: var(--spacing-09);
}
.margin-bottom-10 {
  margin-bottom: var(--spacing-10);
}
.margin-bottom-11 {
  margin-bottom: var(--spacing-11);
}
.margin-bottom-12 {
  margin-bottom: var(--spacing-12);
}

.margin-bottom-13 {
  margin-bottom: var(--spacing-13);
}

/*margin left*/
.margin-left-01 {
  margin-left: var(--spacing-01);
}

.margin-left-02 {
  margin-left: var(--spacing-02);
}

.margin-left-03 {
  margin-left: var(--spacing-03);
}
.margin-left-04 {
  margin-left: var(--spacing-04);
}
.margin-left-05 {
  margin-left: var(--spacing-05);
}
.margin-left-06 {
  margin-left: var(--spacing-06);
}
.margin-left-07 {
  margin-left: var(--spacing-07);
}

.margin-left-08 {
  margin-left: var(--spacing-08);
}

.margin-left-09 {
  margin-left: var(--spacing-09);
}
.margin-left-10 {
  margin-left: var(--spacing-10);
}
.margin-left-11 {
  margin-left: var(--spacing-11);
}
.margin-left-12 {
  margin-left: var(--spacing-12);
}

.margin-left-13 {
  margin-left: var(--spacing-13);
}

/*margin right*/
.margin-right-01 {
  margin-right: var(--spacing-01);
}

.margin-right-02 {
  margin-right: var(--spacing-02);
}

.margin-right-03 {
  margin-right: var(--spacing-03);
}
.margin-right-04 {
  margin-right: var(--spacing-04);
}
.margin-right-05 {
  margin-right: var(--spacing-05);
}
.margin-right-06 {
  margin-right: var(--spacing-06);
}
.margin-right-07 {
  margin-right: var(--spacing-07);
}

.margin-right-08 {
  margin-right: var(--spacing-08);
}

.margin-right-09 {
  margin-right: var(--spacing-09);
}
.margin-right-10 {
  margin-right: var(--spacing-10);
}
.margin-right-11 {
  margin-right: var(--spacing-11);
}
.margin-right-12 {
  margin-right: var(--spacing-12);
}

.margin-right-13 {
  margin-right: var(--spacing-13);
}
