:root {
  --spacing-base: 1rem;

  --spacing-00: calc(var(--spacing-base) * 0); /*0px*/
  --spacing-01: calc(var(--spacing-base) * 0.125); /*2px*/
  --spacing-02: calc(var(--spacing-base) * 0.25); /*4px*/
  --spacing-03: calc(var(--spacing-base) * 0.5); /*8px*/
  --spacing-04: calc(var(--spacing-base) * 0.75); /*12px*/
  --spacing-05: calc(var(--spacing-base) * 1); /*16px*/
  --spacing-06: calc(var(--spacing-base) * 1.5); /*24px*/
  --spacing-07: calc(var(--spacing-base) * 2); /*32px*/
  --spacing-08: calc(var(--spacing-base) * 2.5); /*40px*/
  --spacing-09: calc(var(--spacing-base) * 3); /*48px*/
  --spacing-10: calc(var(--spacing-base) * 4); /*64px*/
  --spacing-11: calc(var(--spacing-base) * 5); /*80px*/
  --spacing-12: calc(var(--spacing-base) * 6); /*96px*/
  --spacing-13: calc(var(--spacing-base) * 10); /*160px*/
}
