/* ==================================================  */
/* ==================================================  */
/* Based on govuk typography files */
/* ==================================================  */
/* ==================================================  */

/* ==================================================  */
/* ==================================================  */
/* Headings  */
/* ==================================================  */
/* ==================================================  */
h1,
.hc-h1,
.hc-heading-xl {
  color: var(--text-primary);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
}

@media print {
  h1,
  .hc-h1,
  .hc-heading-xl {
    color: #000;
    font-family: sans-serif;
    font-size: 32pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  h1,
  .hc-h1,
  .hc-heading-xl {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.0416666667;
    margin-bottom: 50px;
  }
}

h2,
.hc-h2,
.hc-heading-l {
  color: #0b0c0c;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

@media print {
  h2,
  .hc-h2,
  .hc-heading-l {
    color: #000;
    font-family: sans-serif;
    font-size: 24pt;
    line-height: 1.05;
  }
}

@media (min-width: 40.0625em) {
  .hc-h2,
  .hc-heading-l {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.1111111111;
    margin-bottom: 30px;
  }
}

h3,
.hc-h3,
.hc-heading-m {
  color: var(--text-primary);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  h3,
  .hc-h3,
  .hc-heading-m {
    color: #000;
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  h3,
  .hc-h3,
  .hc-heading-m {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 20px;
  }
}

h4,
.hc-h4,
.hc-heading-s {
  color: var(--text-primary);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  h4,
  .hc-h4,
  .hc-heading-s {
    color: #000;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  h4,
  .hc-h4,
  .hc-heading-s {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin-bottom: 20px;
  }
}

.hc-error-message {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  clear: both;
  color: var(--text-error);
}

@media print {
  .hc-error-message {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .hc-error-message {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

/* ==================================================  */
/* ==================================================  */
/* Paragraphs  */
/* ==================================================  */
/* ==================================================  */

.hc-caption-xl {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f;
}

@media print {
  .hc-caption-xl {
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .hc-caption-xl {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 1.1111111111;
  }
}

.hc-caption-l {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f;
}

@media print {
  .hc-caption-l {
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .hc-caption-l {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0;
  }
}

.hc-caption-m {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  color: #505a5f;
}

@media print {
  .hc-caption-m {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .hc-caption-m {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

.hc-body-lead,
.hc-body-l {
  color: #0b0c0c;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin-top: 0;
  margin-bottom: 20px;
}

@media print {
  .hc-body-lead,
  .hc-body-l {
    color: #000;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hc-body-lead,
  .hc-body-l {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 30px;
  }
}

@media print {
  .hc-body-lead,
  .hc-body-l {
    font-size: 18pt;
    line-height: 1.15;
  }
}

p,
.hc-p,
.hc-body,
.hc-body-m {
  color: #0b0c0c;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  p,
  .hc-p,
  .hc-body,
  .hc-body-m {
    color: #000;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  p,
  .hc-p,
  .hc-body,
  .hc-body-m {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin-bottom: 20px;
  }
}

.hc-body-s {
  color: #0b0c0c;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .hc-body-s {
    color: #000;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .hc-body-s {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 20px;
  }
}

.hc-body-xs {
  color: #0b0c0c;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .hc-body-xs {
    color: #000;
    font-size: 12pt;
    line-height: 1.2;
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hc-body-xs {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4285714286;
    margin-bottom: 20px;
  }
}

/* ==================================================  */
/* ==================================================  */
/* additional padding for combinations of headings and paragraphs  */
/* ==================================================  */
/* ==================================================  */

.hc-body-l + h2,
.hc-body-lead + h2,
.hc-body-l + .hc-heading-l,
.hc-body-lead + .hc-heading-l {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  .hc-body-l + h2,
  .hc-body-lead + h2,
  .hc-body-l + .hc-heading-l,
  .hc-body-lead + .hc-heading-l {
    padding-top: 10px;
  }
}

/* Mobile first */
p + h2,
.hc-body-m + h2,
.hc-body + h2,
p + .hc-heading-l,
.hc-body-m + .hc-heading-l,
.hc-body + .hc-heading-l,
.hc-body-s + h2,
.hc-body-s + .hc-heading-l,
ul + h2,
ol + h2,
.hc-list + h2,
ul + .hc-heading-l,
ol + .hc-heading-l,
.hc-list + .hc-heading-l {
  padding-top: 15px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h2,
  .hc-body-m + h2,
  .hc-body + h2,
  p + .hc-heading-l,
  .hc-body-m + .hc-heading-l,
  .hc-body + .hc-heading-l,
  .hc-body-s + h2,
  .hc-body-s + .hc-heading-l,
  ul + h2,
  ol + h2,
  .hc-list + h2,
  ul + .hc-heading-l,
  ol + .hc-heading-l,
  .hc-list + .hc-heading-l {
    padding-top: 20px;
  }
}

/* Mobile */
p + h3,
.hc-body-m + h3,
.hc-body + h3,
p + .hc-heading-m,
.hc-body-m + .hc-heading-m,
.hc-body + .hc-heading-m,
.hc-body-s + h3,
.hc-body-s + .hc-heading-m,
ul + h3,
ol + h3,
.hc-list + h3,
ul + .hc-heading-m,
ol + .hc-heading-m,
.hc-list + .hc-heading-m,
p + h4,
.hc-body-m + h4,
.hc-body + h4,
p + .hc-heading-s,
.hc-body-m + .hc-heading-s,
.hc-body + .hc-heading-s,
.hc-body-s + h4,
.hc-body-s + .hc-heading-s,
ul + h4,
ol + h4,
.hc-list + h4,
ul + .hc-heading-s,
ol + .hc-heading-s,
.hc-list + .hc-heading-s {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h3,
  p + .app-contact-panel__heading,
  .hc-body-m + h3,
  .hc-body + h3,
  p + .hc-heading-m,
  .hc-body-m + .hc-heading-m,
  .hc-body + .hc-heading-m,
  .hc-body-s + h3,
  .hc-body-s + .hc-heading-m,
  ul + h3,
  ol + h3,
  .hc-list + h3,
  ul + .hc-heading-m,
  ol + .hc-heading-m,
  .hc-list + .hc-heading-m,
  p + h4,
  .hc-body-m + h4,
  .hc-body + h4,
  p + .hc-heading-s,
  .hc-body-m + .hc-heading-s,
  .hc-body + .hc-heading-s,
  .hc-body-s + h4,
  .hc-body-s + .hc-heading-s,
  ul + h4,
  ol + h4,
  .hc-list + h4,
  ul + .hc-heading-s,
  ol + .hc-heading-s,
  .hc-list + .hc-heading-s {
    padding-top: 10px;
  }
}

/* ========================= */
/* ========================= */
/* Table headings */
/* ========================= */
/* ========================= */

/* Mobile */
hr,
.hc-section-break {
  margin: 0;
  border: 0;
}

hr,
.hc-section-break-xl {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  hr,
  .hc-section-break-xl {
    margin-top: 50px;
  }
}

@media (min-width: 40.0625em) {
  hr,
  .hc-section-break-xl {
    margin-bottom: 50px;
  }
}

.hc-section-break-l {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .hc-section-break-l {
    margin-top: 30px;
  }
}

@media (min-width: 40.0625em) {
  .hc-section-break-l {
    margin-bottom: 30px;
  }
}

.hc-section-break-m {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .hc-section-break-m {
    margin-top: 20px;
  }
}

@media (min-width: 40.0625em) {
  .hc-section-break-m {
    margin-bottom: 20px;
  }
}

hr,
.hc-section-break-visible {
  border-bottom: 1px solid #b1b4b6;
}
