/*import for inter as font family placeholder*/
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// ============================
// ============================
// Mobile breakpoint styling
// ============================
// ============================
:root {
  // Font families
  //"Inter", sans-serif;
  --hc-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  //  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  // Base for font sizes
  --hc-font-size-base: 1rem;

  // Heading sizes
  --hc-font-h1-size: calc(var(--hc-font-size-base) * 2); /*32px*/
  --hc-font-h2-size: calc(var(--hc-font-size-base) * 1.75); /*28px*/
  --hc-font-h3-size: calc(var(--hc-font-size-base) * 1.5); /*24px*/
  --hc-font-h4-size: calc(var(--hc-font-size-base) * 1.25); /*20px*/
  --hc-font-h5-size: calc(var(--hc-font-size-base) * 1.25); /*20px*/
  --hc-font-h6-size: calc(var(--hc-font-size-base) * 1.25); /*20px*/

  // Paragraph sizes
  --hc-font-body-size-large: calc(var(--hc-font-size-base) * 1.25); /*20px*/
  --hc-font-body-size-regular: calc(var(--hc-font-size-base) * 1.125); /*18px*/
  --hc-font-body-size-small: calc(var(--hc-font-size-base) * 1); /*16px*/

  // Labels and hint text sizes
  --hc-font-fieldLabel-size: var(--hc-font-body-size-regular); /*18px*/
  --hc-font-hint-size: var(--hc-font-body-size-regular); /*18px*/
  --hc-font-error-size: var(--hc-font-body-size-regular); /*18px*/

  // Line heights
  --hc-font-h1-lineHeight: 109%;
  --hc-font-h2-lineHeight: 109%;
  --hc-font-h3-lineHeight: 115%;
  --hc-font-h4-lineHeight: 120%;
  --hc-font-h5-lineHeight: 130%;
  --hc-font-h6-lineHeight: 130%;
  --hc-font-body-lineHeight-large: 1.5;
  --hc-font-body-lineHeight-regular: 1.5;
  --hc-font-body-lineHeight-small: 1.5;
  --hc-button-text-small-lineHeight: 1;

  //Weights
  --hc-text-weight-regular: 400;
  --hc-text-weight-semibold: 600;
  --hc-text-weight-bold: 700;

  //Bottom margin
  --hc-font-h1-bottom-margin: var(--hc-spacing-07);
  --hc-font-h2-bottom-margin: var(--hc-spacing-06);
  --hc-font-h3-bottom-margin: var(--hc-spacing-05);
  --hc-font-h4-bottom-margin: var(--hc-spacing-05);
  --hc-font-h5-bottom-margin: var(--hc-spacing-05);
  --hc-font-h6-bottom-margin: var(--hc-spacing-05);

  //Top margin when preceded by a paragraph
  --hc-font-h1-top-margin: var(--hc-spacing-05);
  --hc-font-h2-top-margin: var(--hc-spacing-05);
  --hc-font-h3-top-margin: var(--hc-spacing-04);
  --hc-font-h4-top-margin: var(--hc-spacing-04);
  --hc-font-h5-top-margin: var(--hc-spacing-04);
  --hc-font-h6-top-margin: var(--hc-spacing-04);
}

// ============================
// ============================
// Desktop breakpoint styling
// ============================
// ============================

@media (min-width: 40.0625rem) {
  :root {
    // Heading sizes
    --hc-font-h1-size: calc(var(--hc-font-size-base) * 2.5); /*40px*/
    --hc-font-h2-size: calc(var(--hc-font-size-base) * 2); /*32px*/
    --hc-font-h3-size: calc(var(--hc-font-size-base) * 1.66); /*26.6px*/
    --hc-font-h4-size: calc(var(--hc-font-size-base) * 1.25); /*20px*/
    --hc-font-h5-size: calc(var(--hc-font-size-base) * 1); /*16px*/
    --hc-font-h6-size: calc(var(--hc-font-size-base) * 1); /*16px*/

    // Paragraph sizes
    --hc-font-body-size-large: calc(var(--hc-font-size-base) * 1.25); /*20px*/
    --hc-font-body-size-regular: calc(
      var(--hc-font-size-base) * 1.125
    ); /*18px*/
    --hc-font-body-size-small: calc(var(--hc-font-size-base) * 1); /*16px*/

    // Labels and hint text sizes
    --hc-font-fieldLabel-size: var(--hc-font-body-size-regular); /*18px*/
    --hc-font-hint-size: var(--hc-font-body-size-small); /*16px*/
    --hc-font-error-size: var(--hc-font-body-size-small); /*16px*/

    // Line heights
    --hc-font-h1-lineHeight: 1.09;
    --hc-font-h2-lineHeight: 1.15;
    --hc-font-h3-lineHeight: 1.3;
    --hc-font-h4-lineHeight: 1.4;
    --hc-font-h5-lineHeight: 1.5;
    --hc-font-h6-lineHeight: 1.5;
    --hc-font-body-lineHeight-large: 1.5;
    --hc-font-body-lineHeight-regular: 1.5;
    --hc-font-body-lineHeight-small: 1.5;
    --hc-font-button-lineHeight: 1;

    //Bottom margin
    --hc-font-h1-bottom-margin: var(--hc-spacing-09);
    --hc-font-h2-bottom-margin: var(--hc-spacing-07);
    --hc-font-h3-bottom-margin: var(--hc-spacing-06);
    --hc-font-h4-bottom-margin: var(--hc-spacing-06);
    --hc-font-h5-bottom-margin: var(--hc-spacing-06);
    --hc-font-h6-bottom-margin: var(--hc-spacing-06);

    //Top margin when preceded by a paragraph
    --hc-font-h1-top-margin: var(--hc-spacing-05);
    --hc-font-h2-top-margin: var(--hc-spacing-05);
    --hc-font-h3-top-margin: var(--hc-spacing-04);
    --hc-font-h4-top-margin: var(--hc-spacing-04);
    --hc-font-h5-top-margin: var(--hc-spacing-04);
    --hc-font-h6-top-margin: var(--hc-spacing-04);
  }
}

// ============================
// ============================
// Print breakpoint styling
// ============================
// ============================

@media print {
  :root {
    color: #000;
    font-family: sans-serif;
    font-size: 32pt;
    line-height: 1.15;
  }
}

// ===========================================================================
// ===========================================================================
// Text style declarations (the part where variables get attached to classes)
// ===========================================================================
// ===========================================================================

:root {
  h1 {
    color: var(--text-primary, #171a1d);

    /* desktop Headings/H1 */
    display: block;
    font-family: var(--hc-font-family);
    color: var(--text-primary);
    font-size: 32px;
    font-size: var(--hc-font-h1-size);
    font-style: normal;
    font-weight: 100;
    line-height: 108%;
    margin-bottom: var(--hc-font-h1-bottom-margin);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h2 {
    color: var(--text-primary, #171a1d);

    /*desktop  Headings/H2 */
    font-family: var(--font-family);
    font-size: var(--font-h2-size);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 2.4rem */
    margin-bottom: var(--spacing-07);
  }

  h3 {
    color: var(--text-primary, #171a1d);

    /*desktop  Headings/H3 */
    font-family: var(--font-family);
    font-size: var(--font-h3-size);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.992rem */
    margin-bottom: var(--spacing-07);
  }

  h4 {
    color: var(--text-primary, #171a1d);

    /*desktop  Headings/H4 */
    font-family: var(--font-family);
    font-size: var(--font-h4-size);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.5rem */
    margin-bottom: var(--spacing-07);
  }

  h5 {
    color: var(--text-primary, #171a1d);

    /*desktop  Headings/H5 */
    font-family: var(--font-family);
    font-size: var(--font-h5-size);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.5rem */
  }

  h6 {
    color: var(--text-primary, #171a1d);

    /*desktop  Headings/H6 */
    font-family: var(--font-family);
    font-size: var(--font-h6-size);
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.02rem */
  }

  p {
    color: var(--text-primary, #171a1d);

    /*desktop Body/Body */
    font-family: var(--font-family);
    font-size: var(--font-body-regular);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: -0.01125rem;
    max-width: 80ch;
  }

  p + p {
    margin-inline-start: var(--spacing-04);
  }

  .field-label {
    color: var(--text-primary, #171a1d);

    /* Body/Body */
    font-family: var(--font-family);
    font-size: var(--font-fieldlabel-size);
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 1.6875rem */
    letter-spacing: -0.01%;
  }

  .text-hint {
    color: var(--text-helper, #5c646d);

    /* Body/Body-Small */
    font-family: var(--font-family);
    font-size: var(--font-hint-size);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.5rem */
  }

  .text-error {
    color: var(--text-error, #ef413d);

    /* Body/Body-Small */
    font-family: var(--font-family);
    font-size: var(--font-error-size);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.5rem */
    margin: var(--spacing-00);
  }
}

/* ==================================================  */
/* ==================================================  */
/* additional padding for combinations of headings and paragraphs  */
/* ==================================================  */
/* ==================================================  */

.hc-body-l + h2,
.hc-body-lead + h2,
.hc-body-l + .hc-heading-l,
.hc-body-lead + .hc-heading-l {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  .hc-body-l + h2,
  .hc-body-lead + h2,
  .hc-body-l + .hc-heading-l,
  .hc-body-lead + .hc-heading-l {
    padding-top: 10px;
  }
}

/* Mobile first */
p + h2,
.hc-body-m + h2,
.hc-body + h2,
p + .hc-heading-l,
.hc-body-m + .hc-heading-l,
.hc-body + .hc-heading-l,
.hc-body-s + h2,
.hc-body-s + .hc-heading-l,
ul + h2,
ol + h2,
.hc-list + h2,
ul + .hc-heading-l,
ol + .hc-heading-l,
.hc-list + .hc-heading-l {
  padding-top: 15px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h2,
  .hc-body-m + h2,
  .hc-body + h2,
  p + .hc-heading-l,
  .hc-body-m + .hc-heading-l,
  .hc-body + .hc-heading-l,
  .hc-body-s + h2,
  .hc-body-s + .hc-heading-l,
  ul + h2,
  ol + h2,
  .hc-list + h2,
  ul + .hc-heading-l,
  ol + .hc-heading-l,
  .hc-list + .hc-heading-l {
    padding-top: 20px;
  }
}

/* Mobile */
p + h3,
.hc-body-m + h3,
.hc-body + h3,
p + .hc-heading-m,
.hc-body-m + .hc-heading-m,
.hc-body + .hc-heading-m,
.hc-body-s + h3,
.hc-body-s + .hc-heading-m,
ul + h3,
ol + h3,
.hc-list + h3,
ul + .hc-heading-m,
ol + .hc-heading-m,
.hc-list + .hc-heading-m,
p + h4,
.hc-body-m + h4,
.hc-body + h4,
p + .hc-heading-s,
.hc-body-m + .hc-heading-s,
.hc-body + .hc-heading-s,
.hc-body-s + h4,
.hc-body-s + .hc-heading-s,
ul + h4,
ol + h4,
.hc-list + h4,
ul + .hc-heading-s,
ol + .hc-heading-s,
.hc-list + .hc-heading-s {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h3,
  p + .app-contact-panel__heading,
  .hc-body-m + h3,
  .hc-body + h3,
  p + .hc-heading-m,
  .hc-body-m + .hc-heading-m,
  .hc-body + .hc-heading-m,
  .hc-body-s + h3,
  .hc-body-s + .hc-heading-m,
  ul + h3,
  ol + h3,
  .hc-list + h3,
  ul + .hc-heading-m,
  ol + .hc-heading-m,
  .hc-list + .hc-heading-m,
  p + h4,
  .hc-body-m + h4,
  .hc-body + h4,
  p + .hc-heading-s,
  .hc-body-m + .hc-heading-s,
  .hc-body + .hc-heading-s,
  .hc-body-s + h4,
  .hc-body-s + .hc-heading-s,
  ul + h4,
  ol + h4,
  .hc-list + h4,
  ul + .hc-heading-s,
  ol + .hc-heading-s,
  .hc-list + .hc-heading-s {
    padding-top: 10px;
  }
}
