/* Base styling for alert container */
.hc-alert {
	padding: var(--hc-spacing-05);
	margin-bottom: var(--hc-spacing-05);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background-color: var(--hc-support-info);
	color: white;
	/* max-width: 768px; */
	gap: var(--hc-spacing-04);
}

@media (min-width: 40.0625rem) {
	.hc-alert {
		align-items: center;
		flex-direction: row;
		/* gap: var(--hc-spacing-08); */
	}
}

.hc-alert-icon-and-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--hc-spacing-03);
	align-items: start;
}

@media (min-width: 40.0625rem) {
	.hc-alert-icon-and-content {
		flex-direction: row;
		align-items: center;
	}
}

h2.hc-alert-heading {
	font-size: var(--hc-font-h6-size);
	font-weight: 500;
	margin-bottom: 0rem;
	/* color: var(--hc-text-info); */
}

/* Needed to override color */
p.hc-alert-paragraph {
	color: var(--hc-text-info);
	margin-bottom: 0px;
	/* margin-inline-start: var(--hc-spacing-07); */
}

/* Different styling for alert types */
.hc-alert-content {
	display: flex;
	flex-direction: column;
	gap: var(--hc-spacing-03);
	align-items: start;
	min-height: 100%;
}

@media (min-width: 40.0625rem) {
	.hc-alert-content {
		display: flex;
		flex-direction: row;
		gap: var(--hc-spacing-03);
		align-items: center;
		min-height: 100%;
	}
}

/* Default styling for the close button */

.hc-alert .hc-alert-close-button {
	border: 2px solid var(--hc-transparent);
	padding-left: var(--hc-spacing-06);
	padding-right: var(--hc-spacing-05);
	margin-inline-start: var(--hc-spacing-06);
	background-color: var(--hc-transparent);
	color: var(--hc-text-interactive);
}

@media (min-width: 40.0625rem) {
	.hc-alert .hc-alert-close-button {
		margin-inline-start: var(--hc-spacing-00);
	}
}
.hc-alert .hc-alert-close-button:hover {
	color: inherit;
	border-color: var(--hc-border-color-interactive-hover);
}
.hc-alert .hc-alert-close-button:active {
	border-color: var(--hc-border-color-interactive-active);
}

.hc-alert .hc-alert-close-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
	box-shadow: var(--hc-shadow-focus-outer-ring);
}

/* Adjusts size and position of the "x" icon */
.hc-alert .hc-alert-close-button span[aria-hidden] {
	font-size: 1.8rem;
	margin-top: -0.2rem;
}

/* Success styling */
.hc-alert-success {
	background-color: var(--hc-support-success);
	color: var(--hc-text-success);
}

/* success heading styling */
.hc-alert.hc-alert-success
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> h2.hc-alert-heading {
	color: var(--hc-text-success);
}

/* success paragraph styling */
.hc-alert.hc-alert-success
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> p.hc-alert-paragraph {
	color: var(--hc-text-success);
}

/* success close button styling */
.hc-alert.hc-alert-success > .hc-alert-close-button {
	font-weight: 600;
	color: var(--hc-text-success);
	border-color: var(--hc-support-success-inverse-hover);
	background-color: var(--hc-transparent);
}
.hc-alert.hc-alert-success > .hc-alert-close-button:hover {
	background-color: var(--hc-green-200);
	border-color: var(--hc-support-success-inverse-hover);
}
.hc-alert.hc-alert-success > .hc-alert-close-button:active {
	background-color: var(--hc-green-300);
	color: var(--hc-text-success);
}

.hc-alert.hc-alert-success > .hc-alert-close-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
}

/*Danger styling */
.hc-alert-danger {
	background-color: var(--hc-support-error);
	color: var(--hc-text-error);
}

/* danger heading styling */
.hc-alert.hc-alert-danger
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> h2.hc-alert-heading {
	color: var(--hc-text-error);
}

/* danger paragraph styling */
.hc-alert.hc-alert-danger
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> p.hc-alert-paragraph {
	color: var(--hc-text-error);
}

/* Danger close button styling */
.hc-alert.hc-alert-danger > .hc-alert-close-button {
	background-color: var(--hc-support-error);
	border-color: var(--hc-support-error-inverse);
	color: var(--hc-text-error);
	font-weight: 600;
}
.hc-alert.hc-alert-danger > .hc-alert-close-button:hover {
	background-color: var(--hc-red-200);
	border-color: var(--hc-support-error-inverse);
}
.hc-alert.hc-alert-danger > .hc-alert-close-button:active {
	background-color: var(--hc-red-300);
	border-color: var(--hc-support-error-inverse);
}

.hc-alert.hc-alert-danger > .hc-alert-close-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
	box-shadow: var(--hc-shadow-focus-outer-ring);
}

/*Warning styling */
.hc-alert-warning {
	background-color: var(--hc-support-warning);
}

/* warning heading styling */
.hc-alert.hc-alert-warning
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> h2.hc-alert-heading {
	color: var(--hc-text-warning);
}

/* warning paragraph styling */
.hc-alert.hc-alert-warning
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> p.hc-alert-paragraph {
	color: var(--hc-text-warning);
}

/* Warning close button styling */
.hc-alert.hc-alert-warning > .hc-alert-close-button {
	color: var(--hc-text-warning);
	background-color: var(--hc-yellow-100);
	border-color: var(--hc-support-warning-inverse-hover);
	font-weight: 600;
}
.hc-alert.hc-alert-warning > .hc-alert-close-button:hover {
	background-color: var(--hc-yellow-200);
	border-color: var(--hc-support-warning-inverse-hover);
}
.hc-alert.hc-alert-warning > .hc-alert-close-button:active {
	background-color: var(--hc-yellow-300);
	border-color: var(--hc-support-warning-inverse-active);
}

.hc-alert.hc-alert-warning > .hc-alert-close-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
}

/*Info styling */
.hc-alert-info {
	background-color: var(--hc-support-info);
}

/* info heading styling */
.hc-alert.hc-alert-info
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> h2.hc-alert-heading {
	color: var(--hc-support-info-inverse);
}

/* info paragraph styling */
.hc-alert.hc-alert-info
	> .hc-alert-icon-and-content
	> .hc-alert-content
	> p.hc-alert-paragraph {
	color: var(--hc-text-info);
}

/* info close button styling */
.hc-alert.hc-alert-info > .hc-alert-close-button {
	color: var(--hc-support-info-inverse);
	border-color: var(--hc-support-info-inverse-hover);
	font-weight: 600;
}
.hc-alert.hc-alert-info > .hc-alert-close-button:hover {
	color: var(--hc-support-info-inverse);
	background: var(--hc-ui-blue-100);
	border-color: var(--hc-support-info-inverse-hover);
}
.hc-alert.hc-alert-info > .hc-alert-close-button:active {
	background: var(--hc-ui-blue-200);
	/* border-color: var(--hc-support-info-inverse-active); */
}

.hc-alert.hc-alert-info > .hc-alert-close-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
	box-shadow: var(--hc-shadow-focus-outer-ring);
}
