/* Base styling for alerts */
.hc-alert {
  padding: var(--hc-spacing-05);
  margin-bottom: var(--hc-spacing-05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--hc-background-brand);
  color: white;
  max-width: 768px;
  gap: var(--hc-spacing-08);
}

h2.hc-alert-heading {
  font-size: var(--hc-font-h4-size);
  font-weight: 500;
  margin-bottom: 0rem;
  color: var(--hc-white);
}

/* Needed to override color */
p.hc-alert-paragraph {
  color: var(--hc-white);
}

/* Different styling for alert types */
.hc-alert-content {
  display: flex;
  flex-direction: column;
  gap: var(--hc-spacing-03);
}

/* Default styling for the close button */
.hc-alert .hc-close {
  color: inherit;
  border-color: var(--hc-white);
}

/* IDK what this does, I think it's related to the X icon in the close button */
.hc-alert .hc-close span[aria-hidden] {
  font-size: 1.8rem;
  margin-top: -0.2rem;
}

/* Success styling */
.hc-alert-success {
  background-color: var(--hc-support-success);
}

/* success heading styling */
.hc-alert.hc-alert-success > .hc-alert-content > h2.hc-alert-heading {
  color: var(--hc-black);
}

/* success paragraph styling */
.hc-alert.hc-alert-success > .hc-alert-content > p.hc-alert-paragraph {
  color: var(--hc-black);
}

/* success close button styling */
.hc-alert.hc-alert-success > .hc-close {
  color: var(--hc-black);
  border-color: var(--hc-black);
  background-color: var(--hc-support-success);
}
.hc-alert.hc-alert-success > .hc-close:hover {
  background-color: var(--hc-support-success--hover);
}
.hc-alert.hc-alert-success > .hc-close:active {
  background-color: var(--hc-support-success--active);
  color: var(--hc-text-on-color);
}

/*Danger styling */
.hc-alert-danger {
  background-color: var(--hc-support-error);
}

/* Danger close button styling */
.hc-alert.hc-alert-danger > .hc-close {
  background-color: var(--hc-support-error);
}
.hc-alert.hc-alert-danger > .hc-close:hover {
  background-color: var(--hc-support-error--hover);
}
.hc-alert.hc-alert-danger > .hc-close:active {
  background-color: var(--hc-support-error--active);
}

/*Warning styling */
.hc-alert-warning {
  background-color: var(--hc-support-warning);
}

/* warning heading styling */
.hc-alert.hc-alert-warning > .hc-alert-content > h2.hc-alert-heading {
  color: var(--hc-black);
}

/* warning paragraph styling */
.hc-alert.hc-alert-warning > .hc-alert-content > p.hc-alert-paragraph {
  color: var(--hc-black);
}

/* Warning close button styling */
.hc-alert.hc-alert-warning > .hc-close {
  color: var(--hc-text-primary);
  background-color: var(--hc-support-warning);
  border-color: var(--hc-black);
}
.hc-alert.hc-alert-warning > .hc-close:hover {
  background-color: var(--hc-support-warning--hover);
}
.hc-alert.hc-alert-warning > .hc-close:active {
  background-color: var(--hc-support-warning--active);
}

/*Info styling? We maybe can delete this one, Primary alert serves this purpose */
.hc-alert-info {
  background-color: var(--hc-support-info);
}

/* info heading styling */
.hc-alert.hc-alert-info > .hc-alert-content > h2.hc-alert-heading {
  color: var(--hc-black);
}

/* info paragraph styling */
.hc-alert.hc-alert-info > .hc-alert-content > p.hc-alert-paragraph {
  color: var(--hc-black);
}

/* info close button styling */
.hc-alert.hc-alert-info > .hc-close {
  color: var(--hc-black);
  background-color: var(--hc-support-info);
  border-color: var(--hc-black);
}
.hc-alert.hc-alert-info > .hc-close:hover {
  color: var(--hc-white);
  background-color: var(--hc-support-info--hover);
}
.hc-alert.hc-alert-info > .hc-close:active {
  color: var(--hc-white);
  background-color: var(--hc-support-info--active);
}
