<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="alert.css" />
  </head>

  <body class="hc-padding-x-03">
    <!-- primary alert -->
    <!-- Container and background color for alert -->
    <div class="hc-alert" role="region" aria-labelledby="alert-banner-heading">
      <!-- Div containing header and paragraph -->
      <div class="hc-alert-content">
        <h2 id="alert-banner-heading" class="hc-alert-heading">
          Primary alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing more information about the alert and letting the user
          know their task is completed, how to fix an error, or other
          information
        </p>
      </div>
      <!-- Alert button -->
      <button
        type="button"
        class="hc-button hc-button--small hc-close"
        onclick="this.parentElement.style.display='none'"
      >
        Close&nbsp;<span aria-hidden="true">×</span>
      </button>
    </div>

    <!-- 

Next alert starts here


 -->

    <!-- success alert -->
    <div
      class="hc-alert hc-alert-success"
      role="status"
      aria-labelledby="alert-banner3-heading"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner3-heading" class="hc-alert-heading">
          Success alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing more information about the alert and letting the user
          know their task is completed, how to fix an error, or other
          information.
        </p>
      </div>
      <button
        type="button"
        class="hc-button hc-button--small hc-close"
        onclick="this.parentElement.style.display='none'"
      >
        Close&nbsp;<span aria-hidden="true">×</span>
      </button>
    </div>
    <!-- danger alert -->
    <div
      class="hc-alert hc-alert-danger"
      role="alert"
      aria-labelledby="alert-banner4-heading"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner4-heading" class="hc-alert-heading">
          Danger alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing more information about the alert and letting the user
          know their task is completed, how to fix an error, or other
          information.
        </p>
      </div>
      <button
        type="button"
        class="hc-button hc-button--small hc-close"
        onclick="this.parentElement.style.display='none'"
      >
        Close&nbsp;<span aria-hidden="true">×</span>
      </button>
    </div>
    <!-- warning alert -->
    <div
      class="hc-alert hc-alert-warning"
      role="alert"
      aria-labelledby="alert-banner5-heading"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner5-heading" class="hc-alert-heading">
          Warning alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing more information about the alert and letting the user
          know their task is completed, how to fix an error, or other
          information.
        </p>
      </div>
      <button
        type="button"
        class="hc-button hc-button--small hc-close"
        onclick="this.parentElement.style.display='none'"
      >
        Close&nbsp;<span aria-hidden="true">×</span>
      </button>
    </div>
    <!-- information alert -->
    <div
      class="hc-alert hc-alert-info"
      role="region"
      aria-labelledby="alert-banner6-heading"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner6-heading" class="hc-alert-heading">
          Info alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing more information about the alert and letting the user
          know their task is completed, how to fix an error, or other
          information.
        </p>
      </div>
      <button
        type="button"
        class="hc-button hc-button--small hc-close"
        onclick="this.parentElement.style.display='none'"
      >
        Close&nbsp;<span aria-hidden="true">×</span>
      </button>
    </div>
  </body>
</html>
