<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="alert.css" />
    <script src="alert.js" defer></script>
  </head>

  <body class="hc-padding-x-03">

    <h1 id="main-content-heading" tabindex="-1">Alert banners</h1>

    <!-- ================== -->
    <!-- ================== -->
    <!-- primary alert -->
    <!-- ================== -->
    <!-- ================== -->

    <div 
      class="hc-alert" 
      role="region" 
      aria-labelledby="alert-banner-heading" 
      aria-live="polite"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner-heading" class="hc-alert-heading">
          Primary alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing information relevant to the majority of visitors of the page.
        </p>
      </div>
      <button type="button" class="hc-button hc-alert-close-button">
        Close&nbsp;<span aria-hidden="true">×</span>
    </button>
    </div>

    <!-- ================== -->
    <!-- ================== -->
    <!-- success alert -->
    <!-- ================== -->
    <!-- ================== -->

    <div
      class="hc-alert hc-alert-success"
      role="status"
      aria-labelledby="alert-banner3-heading"
      aria-live="polite"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner3-heading" class="hc-alert-heading">
          Success alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text confirming an action has been successfully completed.
        </p>
      </div>
      <button type="button" class="hc-button hc-alert-close-button">
        Close&nbsp;<span aria-hidden="true">×</span>
    </button>
    </div>

    <!-- ================== -->
    <!-- ================== -->
    <!-- danger alert -->
    <!-- ================== -->
    <!-- ================== -->

    <div
      class="hc-alert hc-alert-danger"
      role="alert"
      aria-labelledby="alert-banner4-heading"
      aria-live="assertive"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner4-heading" class="hc-alert-heading">
          Danger alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing an error or critical problem
        </p>
      </div>
      <button type="button" class="hc-button hc-alert-close-button">
        Close&nbsp;<span aria-hidden="true">×</span>
    </button>
    </div>

    <!-- ================== -->
    <!-- ================== -->
    <!-- warning alert -->
    <!-- ================== -->
    <!-- ================== -->

    <div
      class="hc-alert hc-alert-warning"
      role="alert"
      aria-labelledby="alert-banner5-heading"
      aria-live="assertive"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner5-heading" class="hc-alert-heading">
          Warning alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text indicating a potential issue or need for caution
        </p>
      </div>
      <button type="button" class="hc-button hc-alert-close-button">
        Close&nbsp;<span aria-hidden="true">×</span>
    </button>
    </div>

    <!-- ================== -->
    <!-- ================== -->
    <!-- information alert -->
    <!-- ================== -->
    <!-- ================== -->

    <div
      class="hc-alert hc-alert-info"
      role="status"
      aria-labelledby="alert-banner6-heading"
      aria-live="polite"
    >
      <div class="hc-alert-content">
        <h2 id="alert-banner6-heading" class="hc-alert-heading">
          Info alert heading
        </h2>
        <p class="hc-alert-paragraph">
          Text describing relevant information or context the user needs to know 
        </p>
      </div>
      <button type="button" class="hc-button hc-alert-close-button">
        Close&nbsp;<span aria-hidden="true">×</span>
    </button>
    </div>
  </body>
</html>
