<html>
  <head> </head>

  <body>
    <hc-aria-friendly-disabler>
      <button
        type="button"
        class="hc-button"
        aria-disabled="true"
        onclick="console.log(new Date().getTime());"
      >
        Smile
      </button>
    </hc-aria-friendly-disabler>
    <script>
      // To do --make work for more than just buttons
      class AriaFriendlyDisabler extends HTMLElement {
        constructor() {
          super();
          console.log("hi");
        }

        connectedCallback() {
          this.preventDefaultIfAriaDisabled();
        }
        attributeChangedCallback() {
          this.preventDefaultIfAriaDisabled();
        }

        preventDefaultIfAriaDisabled = () => {
          const thisButton = this.querySelector("button");
          const actionDisabler = (e) => {
            console.log("okay");
            console.log(e.target);
            console.log(e.currentTarget);
            e?.preventDefault?.();
            e?.stopImmediatePropagation?.();
          };
          if (thisButton?.getAttribute("aria-disabled") === "true") {
            console.log("starting");
            thisButton?.addEventListener("click", (e) => actionDisabler, true);
          } else {
            console.log("xyzzy");
            thisButton?.removeEventListener("click", (e) => actionDisabler, true);
          }
        };
      }
      customElements.define("hc-aria-friendly-disabler", AriaFriendlyDisabler);
    </script>
  </body>
</html>
