/*  */
/*  */
/*  */
/* Deprectate hc-primary and rename to hc-button */
/* This allows hc-button to be base of all buttons */
/* could add class="hc-button hc-button-error" to apply variant styling */
/*  */
/*  */
/*  */

/* ======================== */
/* ======================== */
/* Primary button */
/* ======================== */
/* ======================== */
.hc-button {
  box-sizing: border-box;
  border: 2px solid var(--hc-transparent);
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  justify-content: left;
  flex-direction: row;
  text-align: left;
  gap: var(--hc-spacing-02);
  font-family: var(--hc-font-family), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: var(--hc-font-body-size-regular, 1rem);
  font-weight: 400;
  line-height: 1;
  color: var(--hc-text-on-color);
  border-radius: var(--hc-border-radius-02, 2px);
  margin: 0;
  background-color: var(--hc-button-primary);
  height: var(--hc-height--medium, 2.5rem);
  padding-left: var(--hc-spacing-03);
  padding-right: var(--hc-spacing-03);
  cursor: pointer;
}

/* Focus styles */
/* Focus should be defined once on the core button style so that it doesn't have to be repeated for the other variants */
.hc-button:focus {
  border: var(--hc-border-style-focus);
  outline: var(--hc-outline-style-focus);
  /* box-shadow: var(--hc-shadow-style-focus); */

  /* commented out to test replacing with variables */
  /* 
  border: 2px solid var(--hc-white);
  outline: 3px solid var(--hc-background-brand); */
}

/* Background colors for */
.hc-button:hover {
  background-color: var(--hc-button-primary-hover);
}

.hc-button:active {
  background-color: var(--hc-button-primary-active);
}

.hc-button:disabled {
  background-color: var(--hc-button-disabled);
  color: var(--hc-text-disabled);
}

/* Size variations */
.hc-button--small {
  font-size: var(--hc-font-body-size-small, 1rem);
  height: var(--hc-height--small, 2.25rem);
  padding-left: var(--hc-spacing-03);
  padding-right: var(--hc-spacing-03);
}

.hc-button--large {
  font-size: var(--hc-font-body-size-large, 1rem);
  height: var(--hc-height--large, 3rem);
  padding-left: var(--hc-spacing-05);
  padding-right: var(--hc-spacing-05);
}

/* ======================== */
/* ======================== */
/* Secondary button */
/* ======================== */
/* ======================== */

.hc-button--secondary {
  /* box-sizing: border-box; */
  background-color: var(--hc-white);
  color: var(--text-primary);
  border: 2px solid var(--hc-button-secondary-border);
}

/* Background colors */
.hc-button--secondary:hover {
  /* box-sizing: border-box; */
  color: var(--hc-text-on-color);
  background-color: var(--hc-button-secondary-hover);
  border: 2px solid var(--hc-button-secondary-border-hover);
}

.hc-button--secondary:active {
  /* box-sizing: border-box; */
  color: var(--hc-text-on-color);
  background-color: var(--hc-button-secondary-active);
  border: 2px solid var(--hc-button-secondary-border-active);
}

/* focus for secondary -- commented out for now */

.hc-button--secondary:disabled {
  color: var(--hc-text-disabled);
  background-color: var(--hc-white);
  border-radius: var(--hc-border-radius-01);
  border: 2px solid var(--hc-border-color-disabled);
}

/* ======================== */
/* ======================== */
/* Danger button */
/* ======================== */
/* ======================== */
.hc-button--danger {
  background-color: var(--hc-button-danger);
  color: var(--hc-text-on-color);
  /* margin: auto; */
  /* text-align: center; */
}

.hc-button--danger:hover {
  background-color: var(--hc-button-danger-hover);
}

.hc-button--danger:active {
  background-color: var(--hc-button-danger-active);
}

/* should be able to delete */
/* .hc-button--danger:disabled {
  background-color: var(--hc-button-danger-active);
} */

.hc-button--danger:disabled {
  background-color: var(--hc-button-disabled);
  color: var(--hc-text-disabled);
}

/* Don't delete -- this looks good as an alternative */
/* .hc-button--danger:disabled {
  background-color: #c3c6c9;
  color: #818283;
} */

/* ======================== */
/* ======================== */
/* Icons */
/* ======================== */
/* ======================== */

/* Icon sizing and position stored in _icons.scss*/
/* These below classes can probably all be deleted after they're replaced in the HTML */

.hc-button.hc-button--icon-left {
  /* padding-left: var(--hc-spacing-03); */
  padding-inline-start: var(--hc-spacing-03);
}

.hc-button.hc-button--icon-right {
  /* padding-right: var(--hc-spacing-03); */
  padding-inline-end: var(--hc-spacing-03);
}

.hc-button.hc-button--icon-only {
  align-items: center;
  justify-content: center;
  /* padding-left: var(--hc-spacing-03);
  padding-right: var(--hc-spacing-03); */
  padding-inline-start: var(--hc-spacing-03);
  padding-inline-end: var(--hc-spacing-03);
}

.hc-button--small.hc-button--icon-only {
  align-items: center;
  justify-content: center;
  /* padding-left: var(--hc-spacing-02);
  padding-right: var(--hc-spacing-02); */
  padding-inline-start: var(--hc-spacing-02);
  padding-inline-end: var(--hc-spacing-02);
}

.hc-button--large.hc-button--icon-only {
  align-items: center;
  justify-content: center;
  /* padding-left: var(--hc-spacing-04);
  padding-right: var(--hc-spacing-04); */
  padding-inline-start: var(--hc-spacing-04);
  padding-inline-end: var(--hc-spacing-04);
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--hc-spacing-03);
}

/* The below can all be deleted and is no longer in use -- double check and then delete */
/* 
.hc-closeIconBlue {
  background-image: url(material-symbols_close-rounded-blue.svg);
  height: 12px;
  width: 12px;
  background-size: cover;
  border: none;
  outline-offset: -2px;
}

.hc-closeIconWhite {
  background-image: url(material-symbols_close-rounded-white.svg);
  height: 12px;
  width: 12px;
  background-size: cover;
  border: none;
  outline-offset: -2px;
}

.hc-closeIconGrey {
  background-image: url(material-symbols_close-rounded.svg);
  height: 12px;
  width: 12px;
  background-size: cover;
  border: none;
  outline-offset: -2px;
}

.hc-button-secondary:hover .hc-closeIconBlue {
  background-image: url(material-symbols_close-rounded-white.svg);
  height: 12px;
  width: 12px;
}

.hc-primary:disabled .hc-closeIconWhite,
.hc-button-secondary:disabled .hc-closeIconBlue,
.hc-button-danger:disabled .hc-closeIconWhite {
  background-image: url(material-symbols_close-rounded.svg);
  height: 12px;
  width: 12px;
  background-size: cover;
  border: none;
  outline-offset: -2px;
}

.hc-button-danger.hc-closeIconWhite {
  background-image: url(material-symbols_close-rounded-white.svg);
  height: 12px;
  width: 12px;
} */
