.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.indent {
    margin-left: 20px;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: bottom;

}



/* Primary button */
.primary-idle,
.primary-idle:hover,
.primary-idle:active,
.primary-idle:disabled {
    min-height: 40px;
    min-width: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border: none;
}

.primary-idle:focus,
.secondary-idle:focus,
.danger-idle:focus {
    min-height: 40px !important;
    min-width: 75px !important;
    border: .5px solid white;
    border-style: double;
    outline: 2px solid #113c66;
}

.primary-idle {
    background-color: #113c66;
}

.primary-idle:hover {
    background-color: #002852;
}

.primary-idle:active {
    background-color: #0a1e48;
}

.primary-idle:disabled {
    background-color: #c3c6c9;
    color: #818283;
}

/* Secondary button */
.secondary-idle {
    min-height: 40px;
    min-width: 75px;
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    background-color: white;
    color: #113c66;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #113c66;
}

.secondary-idle:hover {
    color: white;
    border: 2px solid #002852;
    background-color: #002852;
}

/* .secondary-idle:hover, */
.secondary-idle:active {
    /* border: 2px solid #113c66; */
    /* border: none; */
    /* color: white;
    text-align: center; */
    /* border-radius: 2px; */
    /* font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: #0a1e48;
    /* line-height: 24px; */
    /* letter-spacing: 0; */
}

/* .secondary-idle:hover, */
.secondary-idle:focus {
    min-height: 40px;
    min-width: 80px;
    background-color: #002852;
    color: white;
}

.secondary-idle:disabled {
    color: #c3c6c9;
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    outline: auto;
    border: 2px solid #c3c6c9;
}


/* Danger button */
.danger-idle {
    min-height: 40px;
    min-width: 75px;
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #ce1432;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border: none;
}

.danger-idle:hover,
.danger-idle:active {
    min-height: 40px;
    min-width: 75px;
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 2px;
    border: none;
}

.danger-idle:hover {
    background-color: #ba001e;
}

.danger-idle:active {
    background-color: #a6000a;
}

.danger-idle:disabled {
    background-color: #c3c6c9;
    color: #818283;
}


/* Icons */
.closeIconBlue {
    background-image: url(material-symbols_close-rounded-blue.svg);
    height: 12px;
    width: 12px;
    background-size: cover;
    border: none;
    outline-offset: -2px;
}

.closeIconWhite {
    background-image: url(material-symbols_close-rounded-white.svg);
    height: 12px;
    width: 12px;
    background-size: cover;
    border: none;
    outline-offset: -2px;
}

.closeIconGrey {
    background-image: url(material-symbols_close-rounded.svg);
    height: 12px;
    width: 12px;
    background-size: cover;
    border: none;
    outline-offset: -2px;
}

.secondary-idle:hover .closeIconBlue {
    background-image: url(material-symbols_close-rounded-white.svg);
    height: 12px;
    width: 12px;
}

.primary-idle:disabled .closeIconWhite,
.secondary-idle:disabled .closeIconBlue,
.danger-idle:disabled .closeIconWhite {
    background-image: url(material-symbols_close-rounded.svg);
    height: 12px;
    width: 12px;
    background-size: cover;
    border: none;
    outline-offset: -2px;
}

.danger-idle.closeIconWhite {
    background-image: url(material-symbols_close-rounded-white.svg);
    height: 12px;
    width: 12px;
}