<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Text input</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="textInput.css" />
  </head>


  <body class="hc-padding-xy-06">
    <div class="hc-form-group">
      <h1 class="hc-margin-top-06">Text input</h1>
      <h2>Variants</h2>

      <!-- ================ -->
      <!-- ================ -->
      <!-- Default state -->
      <!-- ================ -->
      <!-- ================ -->

      <h3>Default</h3>
        <div class="hc-form-group">
         <label class="hc-field-label" for="hc-textInputEx1">What is your name?</label>
         <input
            class="hc-input"
            id="hc-textInputEx1"
            name="hc-name1"
            type="text"
          />
        </div>
    </div>

    <hr class="hc-margin-y-10" />
    <!-- ========================= -->
    <!-- ========================= -->
    <!-- With hint -->
    <!-- ========================= -->
    <!-- ========================= -->
    <h3>With helper text</h3>

    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-textInputEx2">What is your zip code?</label>
      <div class="hc-text-hint" id="hc-hint-textInput">Helper text with clear instructions</div>
      <input
        class="hc-input"
        id="hc-textInputEx2"
        name="hc-zipCode"
        type="text"
        spellcheck="true"
        aria-describedby="hc-hint-textInput"
      />
    </div>

    <hr class="hc-margin-y-10" />

    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Styling and accessibility guidance for validation -->
    <!-- aria-invalid="true" should be added/remove dynamically based on validation logic -->

    <h3>Validation state</h3>
    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-textInputEx3">What is your favorite animal?</label>
      <div class="hc-text-error" id="textInputErrorMsg1">Error message</div>
      <input
        class="hc-input hc-input--error"
        id="hc-textInputEx3"
        name="hc-animal"
        type="text"
        aria-describedby="textInputErrorMsg1"
        aria-invalid="true"
        required
      />
    </div>


    <h3>Validation with hint</h3>
    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-textInputEx4">What is your favorite color?</label>
      <div class="hc-text-hint" id="hc-hint-textInput2">Helper text with clear instructions</div>
      <div class="hc-text-error" id="textInputErrorMsg2">Error Message</div>
      <input
        class="hc-input hc-input--error"
        id="hc-textInputEx4"
        name="hc-color"
        type="text"
        aria-describedby="hc-hint-textInput2 textInputErrorMsg2"
        aria-invalid="true"
        required
      />
    </div>
  </body>
</html>
