<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Text input</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="textInput.css" />
  </head>
  <body class="hc-padding-x-05 hc-padding-y-08">
    <h1>hc-input</h1>

    <!-- ========================= -->
    <!-- ========================= -->
    <!-- Default sizing with all different states -->
    <!-- ========================= -->
    <!-- ========================= -->

    <h4>Default</h4>
    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-id1">Label</label>
      <input
        class="hc-input"
        id="hc-id1"
        name="hc-name1"
        type="text"
        spellcheck="true"
      />
    </div>

    <h4>Error</h4>
    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-id3">Label</label>
      <div class="hc-text-error">Error message</div>
      <input
        class="hc-input hc-input--error"
        id="hc-id3"
        name="hc-name3"
        type="text"
      />
    </div>

    <!-- ========================= -->
    <!-- ========================= -->
    <!-- With helper text -->
    <!-- ========================= -->
    <!-- ========================= -->
    <hr class="hc-margin-y-10" />
    <h1>With helper text</h1>
    <h4>Default</h4>

    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-id6">Label</label>
      <div class="hc-text-hint" id="placeholder-helper-text">Helper text</div>
      <input
        class="hc-input"
        id="hc-id6"
        name="hc-name6"
        type="text"
        spellcheck="true"
        aria-describedby="placeholder-helper-text"
      />
    </div>

    <h4>Error</h4>

    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-id8">Label</label>
      <div class="hc-text-hint" id="error-helper-text">Helper text</div>
      <div class="hc-text-error" id="error-message">Error Message</div>
      <input
        class="hc-input hc-input--error"
        id="hc-id8"
        name="hc-name8"
        type="text"
        aria-describedby="error-helper-text error-message"
      />
    </div>
  </body>
</html>
