.page-wrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.hc-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 0 !important;
    margin-top: 20px;
    display: block; /* added to display label at the top */
}

.hc-label:disabled{
    color: #ccc;
}

.hc-input {
    height: 38px;
    border-radius: 2px !important;
}

.hc-input-error {
    height: 38px;
    border: 1px solid #ce1432 !important;
    border-radius: 3px !important;
    background: url(material-symbols_close-rounded.svg) no-repeat right;
    background-size: 30px;
}

.hc-input-error:focus {
    outline-width: 0;
    /* outline-color: #ce1432;
    outline-offset: 2px; */
    border: 2px solid #ce1432 !important;
    border-radius: 2px !important;
    font-weight: normal;
}

.hc-input:focus {
    outline-width: 2px;
    outline-color: #0058a4;
    outline-offset: 2px;
    border: 2px solid #cfcfcf;
    border-radius: 2px;
    font-weight: normal;
}

.required-class:after {
    content: "(Required)";
    color: #ce1432;
    font-size: 12px;
}

.h3-underline{
    border-bottom: 3px solid black;
}

.error-msg {
    color: #ce1432;
    font-size: 16px;
    width: 100%;
}

.hc-helpertext {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 0 !important;
}
/* Button style */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow
    0.15s ease-in-out;
}
.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:hover {
    color: #000;
    text-decoration: none;
}
.btn:focus,
.btn.focus {
    outline-color: #000;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
a.btn.disabled {
    pointer-events: none;
}
.btn-primary {
    color: #fff;
    background-color: #113c66;
    border-color: #113c66;
}
.btn-outline-primary {
    color: #113c66;
    border-color: #113c66;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
    background-color: #44c8f5;
    border-color: #000;
    color: #000;
}

/* Optional: adjustment for buttons to be parallel with component */
.btn-adjust{
    display: inline;
    margin: 0;
    margin-left:-3px;
    margin-top: -2px;
}

/* -- Modal Style Here -- */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
  }
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  .modal.show .modal-dialog {
    transform: none;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: 0;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modal-backdrop.fade {
    opacity: 0;
  }
  .modal-backdrop.show {
    opacity: 0.5;
  }
  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  .modal-title {
    margin: 0;
    line-height: 1.5;
  }
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .modal-footer > * {
    margin: 0.25rem;
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  .modal-width{
    width: 400px; 
    min-width: auto;
  }
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }

/* -- End Modal Style-- */

/* style for the datepicker design1 */
  .input-error {
    outline: 2px solid red;
  }
  .blk{
    display: block;
  }
  .hc-input-sm{
    width: 50px;
  }
  .hc-input-md{
    width: 80px;
  }