<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../../CSS/index.css" />
		<link rel="stylesheet" href="./heresHowYouKnowBanner.css" />
	</head>
	<body>
		<section>
			<header>
				<details class="hc-details">
					<summary class="hc-summary">
						An official website of Hennepin County Government.
						<span
							style="
								color: var(--hc-link-inverse);
								text-decoration-line: underline;
							"
							>Here's how you know</span
						>
					</summary>
					<div class="hc-details-content">
						<div class="hc-details-content-grid">
							<div class="hc-details-content-item">
								<h2 class="hc-heading-xxs hc-margin-bottom-02">
									Official websites use .gov
								</h2>
								<p>
									A <span style="font-weight: 700">.gov</span> website belongs
									to an official government organization in the United States.
								</p>
							</div>
							<div class="hc-details-content-item">
								<h2 class="hc-heading-xxs hc-margin-bottom-02">
									Secure .gov websites use HTTPS
								</h2>
								<p>
									A <span style="font-weight: 700">lock</span> or
									<span style="font-weight: 700">https://</span> means you've
									safely connected to a .gov website. Share sensitive
									information only on official, secure websites.
								</p>
							</div>
						</div>
					</div>
				</details>
			</header>
		</section>
	</body>
</html>
