<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="button.css" />
  </head>

  <body class="hc-padding-x-03">
    <!-- ================================ -->
    <!-- Label only, no icon -->
    <!-- ================================ -->

    <h1 class="hc-margin-top-06">No icon</h1>
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Primary Button</h2>
    <!-- ======================== -->

    <!-- <h3>Regular</h3> -->
    <button class="hc-button">Button</button>
    <button class="hc-button" disabled>Button</button>

    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Secondary Button</h2>
    <!-- ======================== -->

    <!-- <h3>Regular</h3> -->
    <button class="hc-button hc-button--secondary">Button</button>
    <button class="hc-button hc-button--secondary" disabled>Button</button>

    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Danger button</h2>
    <!-- ======================== -->

    <!-- <h3>Regular</h3> -->
    <button class="hc-button hc-button--danger">Button</button>
    <button class="hc-button hc-button--danger" disabled>Button</button>

    <hr />

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1 class="hc-margin-top-06">Icon left</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--icon-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>
    <button class="hc-button hc-button--icon-left" disabled>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--secondary hc-button--icon-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-left"
      disabled
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--danger hc-button--icon-left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-left" disabled>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
      Button
    </button>

    <hr />

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1 class="hc-margin-top-06">Icon Right</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--icon-right">
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button class="hc-button hc-button--icon-right" disabled>
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--secondary hc-button--icon-right">
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-right"
      disabled
    >
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- <h3>Regular</h3> -->
    <button class="hc-button hc-button--danger hc-button--icon-right">
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-right" disabled>
      Button
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1 class="hc-margin-top-06">Icon only</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--icon-only">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button class="hc-button hc-button--icon-only" disabled>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--secondary hc-button--icon-only">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-only"
      disabled
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2 class="hc-margin-top-08 hc-margin-bottom-03">Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <button class="hc-button hc-button--danger hc-button--icon-only">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-only" disabled>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hc-icon-size--regular"
        viewbox="0 -960 960 960"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
      </svg>
    </button>

    <hr />

    <!-- ======================== -->
    <!-- ======================== -->
    <!-- Button group -->
    <!-- Undocumented class, used in modal component -->
    <!-- Don't add to Design System CMS website yet -->
    <!-- ======================== -->
    <!-- ======================== -->

    <div class="button-group">
      <button
        type="button"
        class="hc-button hc-button--secondary btn-outline-primary"
        data-close-modal
      >
        Close
      </button>
      <button class="hc-button">Save changes</button>
    </div>
  </body>
</html>
