<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="button.css" />
  </head>

  <body class="hc-padding-x-03">
    <!-- ================================ -->
    <!-- Label only, no icon -->
    <!-- ================================ -->

    <h1>No icon</h1>
    <!-- ======================== -->
    <h2>Primary Button</h2>
    <!-- ======================== -->
    <h3>Small</h3>
    <button class="hc-button hc-button--small">Button</button>
    <button class="hc-button hc-button--small" disabled>Button</button>

    <h3>Regular</h3>
    <button class="hc-button">Button</button>
    <button class="hc-button" disabled>Button</button>
    <h3>Large</h3>
    <button class="hc-button hc-button--large">Button</button>
    <button class="hc-button hc-button--large" disabled>Button</button>

    <!-- ======================== -->
    <h2>Secondary Button</h2>
    <!-- ======================== -->

    <h3>Small</h3>
    <button class="hc-button hc-button--secondary hc-button--small">
      Button
    </button>
    <button class="hc-button hc-button--secondary hc-button--small" disabled>
      Button
    </button>

    <h3>Regular</h3>
    <button class="hc-button hc-button--secondary">Button</button>
    <button class="hc-button hc-button--secondary" disabled>Button</button>

    <h3>Large</h3>
    <button class="hc-button hc-button--secondary hc-button--large">
      Button
    </button>
    <button class="hc-button hc-button--secondary hc-button--large" disabled>
      Button
    </button>

    <!-- ======================== -->
    <h2>Danger button</h2>
    <!-- ======================== -->

    <h3>Small</h3>
    <button class="hc-button hc-button--danger hc-button--small">Button</button>
    <button class="hc-button hc-button--danger hc-button--small" disabled>
      Button
    </button>

    <h3>Regular</h3>
    <button class="hc-button hc-button--danger">Button</button>
    <button class="hc-button hc-button--danger" disabled>Button</button>

    <h3>Large</h3>
    <button class="hc-button hc-button--danger hc-button--large">Button</button>
    <button class="hc-button hc-button--danger hc-button--large" disabled>
      Button
    </button>

    <hr />

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1>Icon left</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--small hc-button--icon-left">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>

      Button
    </button>
    <button class="hc-button hc-button--small hc-button--icon-left" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--icon-left">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>
    <button class="hc-button hc-button--icon-left" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>
    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--large hc-button--icon-left">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>
    <button class="hc-button hc-button--large hc-button--icon-left" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-left"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-left"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
      Button
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--secondary hc-button--icon-left">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-left"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>

    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-left"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-left"
      disabled
    >
      <span class="material-symbols-outlined"> add </span>Button
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <h3>Small</h3>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-left"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-left"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>

    <h3>Regular</h3>
    <button class="hc-button hc-button--danger hc-button--icon-left">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-left" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>

    <h3>Large</h3>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-left"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-left"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>Button
    </button>
    <hr />

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1>Icon Right</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--small hc-button--icon-right">
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--small hc-button--icon-right" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--icon-right">
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--icon-right" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--large hc-button--icon-right">
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--large hc-button--icon-right" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-right"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-right"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--secondary hc-button--icon-right">
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-right"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-right"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-right"
      disabled
    >
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <h3>Small</h3>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-right"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-right"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <h3>Regular</h3>
    <button class="hc-button hc-button--danger hc-button--icon-right">
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-right" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <h3>Large</h3>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-right"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-right"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      Button<span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <h1>Icon only</h1>
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Primary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--small hc-button--icon-only">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--small hc-button--icon-only" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--icon-only">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--icon-only" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--large hc-button--icon-only">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--large hc-button--icon-only" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Secondary Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <!-- ======================== -->
    <h3>Small</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-only"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--small hc-button--icon-only"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Regular</h3>
    <!-- ======================== -->
    <button class="hc-button hc-button--secondary hc-button--icon-only">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--icon-only"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <h3>Large</h3>
    <!-- ======================== -->
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-only"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--secondary hc-button--large hc-button--icon-only"
      disabled
    >
      <span class="material-symbols-outlined"> add </span>
    </button>

    <!-- ======================== -->
    <!-- ======================== -->
    <h2>Danger Button</h2>
    <!-- ======================== -->
    <!-- ======================== -->

    <h3>Small</h3>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-only"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--danger hc-button--small hc-button--icon-only"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <h3>Regular</h3>
    <button class="hc-button hc-button--danger hc-button--icon-only">
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button class="hc-button hc-button--danger hc-button--icon-only" disabled>
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <h3>Large</h3>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-only"
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      class="hc-button hc-button--danger hc-button--large hc-button--icon-only"
      disabled
    >
      <!-- Replace "add" with desired icon from material symbols library -->
      <span class="material-symbols-outlined"> add </span>
    </button>

    <hr />

    <!-- ======================== -->
    <!-- ======================== -->
    <!-- Button group -->
    <!-- ======================== -->
    <!-- ======================== -->

    <div class="button-group">
      <button
        type="button"
        class="hc-button hc-button--secondary btn-outline-primary"
        data-close-modal
      >
        Close
      </button>
      <button class="hc-button">Save changes</button>
    </div>
  </body>
</html>
