body{
    padding: 1rem;
}
.row{
    padding-bottom: 2%;
    padding-left: 2%;
    max-width: 70%;
}
.form-control{
    box-shadow: none !important;
}
.form-control:focus{
    outline-offset: 0;
    outline: 2px solid ;
    outline-color: black !important;
}

