/* ======================== */
/* ======================== */
/* Primary button */
/* ======================== */
/* ======================== */
.hc-button,
a.hc-button {
	box-sizing: border-box;
	border: 2px solid var(--hc-transparent);
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	justify-content: center;
	flex-direction: row;
	text-align: left;
	gap: var(--hc-spacing-02);
	font-family: var(--hc-font-family), "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
	font-size: var(--hc-font-body-size-regular, 1.125rem);
	font-weight: 400;
	line-height: 1.33; /* 1.33*18 = 24px -----> 24px +12top padding+12bottompadding = 48px button height */
	color: var(--hc-text-on-color);
	border-radius: var(--hc-border-radius-pill, 9999px);
	margin: 0;
	background-color: var(--hc-button-primary);
	height: var(--hc-height--large, 3rem);
	padding-left: var(--hc-spacing-06);
	padding-right: var(--hc-spacing-06);
	cursor: pointer;
	text-decoration: none;
}

/* Focus styles */
.hc-button:focus,
a.hc-button:focus {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
	color: var(--hc-text-on-color);
}

/* Background colors for */
.hc-button:hover,
a.hc-button:hover {
	background-color: var(--hc-button-primary-hover);
	color: var(--hc-text-on-color);
}

.hc-button:active,
a.hc-button:active {
	background-color: var(--hc-button-primary-active);
	color: var(--hc-text-on-color);
}

.hc-button[aria-disabled="true"],
a.hc-button[aria-disabled="true"] {
	background-color: var(--hc-background-disabled);
	color: var(--hc-text-disabled);
	cursor: not-allowed;
}

/* ======================== */
/* ======================== */
/* Secondary button */
/* ======================== */
/* ======================== */

.hc-button--secondary,
a.hc-button--secondary {
	background-color: var(--hc-white);
	color: var(--hc-link-primary);
	border: 2px solid var(--hc-button-secondary-border);
}

/* Background colors */
.hc-button--secondary:hover,
a.hc-button--secondary:hover {
	color: var(--hc-text-on-color);
	background-color: var(--hc-button-secondary-hover);
	border: 2px solid var(--hc-transparent);
}

.hc-button--secondary:active,
a.hc-button--secondary:active {
	color: var(--hc-text-on-color);
	background-color: var(--hc-button-secondary-active);
}

.hc-button--secondary:focus,
a.hc-button--secondary:focus {
	color: var(--hc-link-primary);
	background-color: var(--hc-button-secondary-focus-background);
	border: var(--hc-border-style-focus);
}

.hc-button--secondary:focus:hover,
a.hc-button--secondary:focus:hover {
	color: var(--hc-text-on-color);
	background-color: var(--hc-button-secondary-hover);
}

.hc-button--secondary:focus:active,
a.hc-button--secondary:focus:active {
	color: var(--hc-text-on-color);
	background-color: var(--hc-button-secondary-active);
}

.hc-button--secondary[aria-disabled="true"],
a.hc-button--secondary[aria-disabled="true"] {
	color: var(--hc-text-disabled);
	background-color: var(--hc-background-disabled);
	border: 2px solid var(--hc-transparent);
	cursor: not-allowed;
}

.hc-button--secondary:focus[aria-disabled="true"],
a.hc-button--secondary:focus[aria-disabled="true"] {
	color: var(--hc-text-disabled);
	background-color: var(--hc-background-disabled);
	border: var(--hc-border-style-focus);

	cursor: not-allowed;
}

.hc-button--secondary:focus:hover[aria-disabled="true"],
a.hc-button--secondary:focus:hover[aria-disabled="true"] {
	color: var(--hc-text-disabled);
	background-color: var(--hc-background-disabled);
}

.hc-button--secondary:focus:active[aria-disabled="true"],
a.hc-button--secondary:focus:active[aria-disabled="true"] {
	color: var(--hc-text-disabled);
	background-color: var(--hc-background-disabled);
}

/* ======================== */
/* ======================== */
/* Danger button */
/* ======================== */
/* ======================== */
.hc-button--danger,
a.hc-button--danger {
	background-color: var(--hc-button-danger);
	color: var(--hc-text-on-color);
}

.hc-button--danger:hover,
a.hc-button--danger:hover {
	background-color: var(--hc-button-danger-hover);
	color: var(--hc-text-on-color);
}

.hc-button--danger:active,
a.hc-button--danger:active {
	background-color: var(--hc-button-danger-active);
	color: var(--hc-text-on-color);
}

.hc-button--danger[aria-disabled="true"],
a.hc-button--danger[aria-disabled="true"] {
	background-color: var(--hc-background-disabled);
	color: var(--hc-text-disabled);
	cursor: not-allowed;
}

/* ======================== */
/* ======================== */
/* Icons */
/* ======================== */
/* ======================== */

/* Icon sizing stored in _icons.scss*/

.hc-button.hc-button--icon-left {
	padding-inline-start: var(--hc-spacing-05);
	padding-inline-end: var(--hc-spacing-06);
}

.hc-button.hc-button--icon-right {
	padding-inline-start: var(--hc-spacing-06);
	padding-inline-end: var(--hc-spacing-05);
}

.hc-button.hc-button--icon-only {
	align-items: center;
	justify-content: center;
	padding-inline-start: var(--hc-spacing-03);
	padding-inline-end: var(--hc-spacing-03);
	border-radius: 50%;
}

/* Undocumented class, used in modals */
.button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: var(--hc-spacing-03);
}
