<h1>Checkbox</h1>

<form [formGroup]="formCheckboxForm">
  <div class="p-field p-grid">
    <fieldset class="p-fieldset p-col-12">
      <legend class="label-bold">
        Checkbox <span class="alertAsterisk">&nbsp;*</span>
      </legend>
      <div class="p-col-6" style="margin-top: 7px">
        <div class="ui-g-3">
          <p-checkbox
            formControlName="checkboxExample"
            name="checkboxExample"
            value="true"
            inputId="checkboxExample"
            aria-describedby="checkboxExample"
            [attr.aria-checked]="boolCheckboxExample ? 'true' : 'false'"
            [binary]="true"
          ></p-checkbox>
          <label for="checkboxExample" class="p-col-12">
            Checkbox check
          </label>
        </div>
        <span
          data-for="checkboxExample"
          id="checkboxExampleFeedback"
          role="alert"
          aria-live="polite"
          class="label-bold p-col-12 p-ml-4 alertNotification"
          *ngIf="checkboxExample?.value == 1"
        >
          This checkbox is checked
        </span>
      </div>
    </fieldset>
  </div>
</form>
