.hc-element {
  margin: 20px;
}

/* label styled elsewhere, can delete */
/* .hc-label {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 0 !important;
  margin-top: 10px;
  color: #191d21;
} */

/* .hc-label:disabled {
  color: #ccc;
} */

.hc-textarea {
  border-radius: 2px !important;
  margin-bottom: 0 !important;
}

.hc-textarea-error {
  /* height: 38px; */
  border: 1px solid #ce1432 !important;
  border-radius: 3px !important;
  background: url(material-symbols_close-rounded.svg) no-repeat right;
  background-size: 30px;
  margin-bottom: 0 !important;
}

/* This might get deleted or changed */
.hc-textarea-error:focus {
  outline-width: 0;
  /* outline-color: #ce1432;
    outline-offset: 2px; */
  border: 2px solid #ce1432 !important;
  border-radius: 2px !important;
  font-weight: normal;
}

.hc-textarea:focus {
  outline-width: 2px;
  outline-color: #0058a4;
  outline-offset: 2px;
  border: 2px solid #cfcfcf;
  border-radius: 2px;
  font-weight: normal;
}

/* Figure out waht this is for */
.required-class:after {
  content: "(Required)";
  color: #ce1432;
  font-size: 12px;
}

/* This can be deleted */
/* .h3-underline {
  border-bottom: 3px solid black;
} */

/* This can be deleted, defined elsewhere */
/* .error-msg {
  color: #ce1432;
  font-size: 16px;
  width: 100%;
} */

/* This can be deleted, defind elsewhere */
/* .hc-helpertext {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 0 !important;
  margin: 0 !important;
  color: #5c646d;
} */
