<!DOCTYPE html>

<html lang="en">

 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="table.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="table.js"></script>
 </head>

 <body>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption class="sr-only">Example responsive table with border</caption>
            <thead>
                <tr>
                    <td scope="col">&nbsp;</td>
                    <th scope="col">Col 1</th>
                    <th scope="col">Col 2</th>
                    <th scope="col">Col 3</th>
                    <th scope="col">Col 4</th>
                    <th scope="col">Col 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Row A</th>
                    <td>A1</td>
                    <td>A2</td>
                    <td>A3</td>
                    <td>A4</td>
                    <td>A5</td>
                </tr>
                <tr>
                    <th scope="row">Row B</th>
                    <td>B1</td>
                    <td>B2</td>
                    <td>B3</td>
                    <td>B4</td>
                    <td>B5</td>
                </tr>
                <tr>
                    <th scope="row">Row C</th>
                    <td>C1</td>
                    <td>C2</td>
                    <td>C3</td>
                    <td>C4</td>
                    <td>C5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <caption class="sr-only">Example responsive table with striped rows</caption>
            <thead>
                <tr>
                    <td scope="col">&nbsp;</td>
                    <th scope="col">Col 1</th>
                    <th scope="col">Col 2</th>
                    <th scope="col">Col 3</th>
                    <th scope="col">Col 4</th>
                    <th scope="col">Col 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Row A</th>
                    <td>A1</td>
                    <td>A2</td>
                    <td>A3</td>
                    <td>A4</td>
                    <td>A5</td>
                </tr>
                <tr>
                    <th scope="row">Row B</th>
                    <td>B1</td>
                    <td>B2</td>
                    <td>B3</td>
                    <td>B4</td>
                    <td>B5</td>
                </tr>
                <tr>
                    <th scope="row">Row C</th>
                    <td>C1</td>
                    <td>C2</td>
                    <td>C3</td>
                    <td>C4</td>
                    <td>C5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <caption class="sr-only">Example responsive table with border and striped rows</caption>
            <thead>
                <tr>
                    <td scope="col">&nbsp;</td>
                    <th scope="col">Col 1</th>
                    <th scope="col">Col 2</th>
                    <th scope="col">Col 3</th>
                    <th scope="col">Col 4</th>
                    <th scope="col">Col 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Row A</th>
                    <td>A1</td>
                    <td>A2</td>
                    <td>A3</td>
                    <td>A4</td>
                    <td>A5</td>
                </tr>
                <tr>
                    <th scope="row">Row B</th>
                    <td>B1</td>
                    <td>B2</td>
                    <td>B3</td>
                    <td>B4</td>
                    <td>B5</td>
                </tr>
                <tr>
                    <th scope="row">Row C</th>
                    <td>C1</td>
                    <td>C2</td>
                    <td>C3</td>
                    <td>C4</td>
                    <td>C5</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br>
    <div class="table-responsive">
        <table class="table table-sort table-striped ascending" role="grid" aria-readonly="true">
            <caption>Example table with sortable column headers</caption>
            <thead class="thead-light">
                <tr role="row">
                    <th role="columnheader" scope="col" aria-sort="ascending">
                        <button class="btn btn-table-sort sorted">
                            Index
                            <svg version="1.1" class="sort-arrows" x="0px" y="0px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve" aria-hidden="true">
                                <path class="up" d="M73.092,164.452h255.813c4.949,0,9.233-1.807,12.848-5.424c3.613-3.616,5.427-7.898,5.427-12.847 c0-4.949-1.813-9.229-5.427-12.85L213.846,5.424C210.232,1.812,205.951,0,200.999,0s-9.233,1.812-12.85,5.424L60.242,133.331 c-3.617,3.617-5.424,7.901-5.424,12.85c0,4.948,1.807,9.231,5.424,12.847C63.863,162.645,68.144,164.452,73.092,164.452z" />
                                <path class="down" d="M328.905,237.549H73.092c-4.952,0-9.233,1.808-12.85,5.421c-3.617,3.617-5.424,7.898-5.424,12.847 c0,4.949,1.807,9.233,5.424,12.848L188.149,396.57c3.621,3.617,7.902,5.428,12.85,5.428s9.233-1.811,12.847-5.428l127.907-127.906 c3.613-3.614,5.427-7.898,5.427-12.848c0-4.948-1.813-9.229-5.427-12.847C338.139,239.353,333.854,237.549,328.905,237.549z" />
                            </svg>
                        </button>
                    </th>
                    <th role="columnheader" scope="col">
                        <button class="btn btn-table-sort">
                            Name
                            <svg version="1.1" class="sort-arrows" x="0px" y="0px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve" aria-hidden="true">
                                <path class="up" d="M73.092,164.452h255.813c4.949,0,9.233-1.807,12.848-5.424c3.613-3.616,5.427-7.898,5.427-12.847 c0-4.949-1.813-9.229-5.427-12.85L213.846,5.424C210.232,1.812,205.951,0,200.999,0s-9.233,1.812-12.85,5.424L60.242,133.331 c-3.617,3.617-5.424,7.901-5.424,12.85c0,4.948,1.807,9.231,5.424,12.847C63.863,162.645,68.144,164.452,73.092,164.452z" />
                                <path class="down" d="M328.905,237.549H73.092c-4.952,0-9.233,1.808-12.85,5.421c-3.617,3.617-5.424,7.898-5.424,12.847 c0,4.949,1.807,9.233,5.424,12.848L188.149,396.57c3.621,3.617,7.902,5.428,12.85,5.428s9.233-1.811,12.847-5.428l127.907-127.906 c3.613-3.614,5.427-7.898,5.427-12.848c0-4.948-1.813-9.229-5.427-12.847C338.139,239.353,333.854,237.549,328.905,237.549z" />
                            </svg>
                        </button>
                    </th>
                    <th role="columnheader" scope="col">
                        <button class="btn btn-table-sort">
                            Age
                            <svg version="1.1" class="sort-arrows" x="0px" y="0px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve" aria-hidden="true">
                                <path class="up" d="M73.092,164.452h255.813c4.949,0,9.233-1.807,12.848-5.424c3.613-3.616,5.427-7.898,5.427-12.847 c0-4.949-1.813-9.229-5.427-12.85L213.846,5.424C210.232,1.812,205.951,0,200.999,0s-9.233,1.812-12.85,5.424L60.242,133.331 c-3.617,3.617-5.424,7.901-5.424,12.85c0,4.948,1.807,9.231,5.424,12.847C63.863,162.645,68.144,164.452,73.092,164.452z" />
                                <path class="down" d="M328.905,237.549H73.092c-4.952,0-9.233,1.808-12.85,5.421c-3.617,3.617-5.424,7.898-5.424,12.847 c0,4.949,1.807,9.233,5.424,12.848L188.149,396.57c3.621,3.617,7.902,5.428,12.85,5.428s9.233-1.811,12.847-5.428l127.907-127.906 c3.613-3.614,5.427-7.898,5.427-12.848c0-4.948-1.813-9.229-5.427-12.847C338.139,239.353,333.854,237.549,328.905,237.549z" />
                            </svg>
                        </button>
                    </th>
                    <th role="columnheader" scope="col">
                        <button class="btn btn-table-sort">
                            Favorite Color
                            <svg version="1.1" class="sort-arrows" x="0px" y="0px" viewBox="0 0 401.998 401.998" style="enable-background:new 0 0 401.998 401.998;" xml:space="preserve" aria-hidden="true">
                                <path class="up" d="M73.092,164.452h255.813c4.949,0,9.233-1.807,12.848-5.424c3.613-3.616,5.427-7.898,5.427-12.847 c0-4.949-1.813-9.229-5.427-12.85L213.846,5.424C210.232,1.812,205.951,0,200.999,0s-9.233,1.812-12.85,5.424L60.242,133.331 c-3.617,3.617-5.424,7.901-5.424,12.85c0,4.948,1.807,9.231,5.424,12.847C63.863,162.645,68.144,164.452,73.092,164.452z" />
                                <path class="down" d="M328.905,237.549H73.092c-4.952,0-9.233,1.808-12.85,5.421c-3.617,3.617-5.424,7.898-5.424,12.847 c0,4.949,1.807,9.233,5.424,12.848L188.149,396.57c3.621,3.617,7.902,5.428,12.85,5.428s9.233-1.811,12.847-5.428l127.907-127.906 c3.613-3.614,5.427-7.898,5.427-12.848c0-4.948-1.813-9.229-5.427-12.847C338.139,239.353,333.854,237.549,328.905,237.549z" />
                            </svg>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr role="row">
                    <th scope="row" role="rowheader">1</th>
                    <td role="gridcell">Myk</td>
                    <td role="gridcell">33</td>
                    <td role="gridcell">Purple</td>
                </tr>
                <tr role="row">
                    <th scope="row" role="rowheader">2</th>
                    <td role="gridcell">Hanah</td>
                    <td role="gridcell">21</td>
                    <td role="gridcell">Blue</td>
                </tr>
                <tr role="row">
                    <th scope="row" role="rowheader">3</th>
                    <td role="gridcell">Salim</td>
                    <td role="gridcell">18</td>
                    <td role="gridcell">Green</td>
                </tr>
                <tr role="row">
                     <th scope="row" role="rowheader">4</th>
                     <td role="gridcell">Greg</td>
                     <td role="gridcell">45</td>
                     <td role="gridcell">Orange</td>
                 </tr>
                 <tr role="row">
                     <th scope="row" role="rowheader">5</th>
                     <td role="gridcell">Caitlin</td>
                     <td role="gridcell">58</td>
                     <td role="gridcell">Red</td>
                 </tr>
                 <tr role="row">
                     <th scope="row" role="rowheader">6</th>
                     <td role="gridcell">Cyan</td>
                     <td role="gridcell">35</td>
                     <td role="gridcell">Yellow</td>
                 </tr>
             </tbody>
         </table>
         <span id="tableSortlive" aria-live="polite" readCaptions="false" class="sr-only"></span>
    </div>
 </body>

</html>