<p-divider></p-divider>
<h1>Search</h1>

<div class="p-grid">
    <div class="col-12 md:col-6 p-fluid">
        <div  class="col-12 mb-2 lg:col-4 mb-lg-0">
            <span  class="p-input-icon-right">
                <input type="text" placeholder="Search" class="p-inputtext p-component p-element">
                <i class="pi pi-search"></i>
            </span>
        </div>
    
        <br>
        <div class="col-12 mb-2 lg:col-4 mb-lg-0">
            <span class="p-input-icon-left p-input-icon-right">
                <i class="pi pi-user"></i>
                <input type="text" placeholder="Search" class="p-inputtext p-component p-element">
                <i class="pi pi-search"></i>
            </span>
        </div>
    </div>
</div>


