<h1>Radiobutton</h1>

<form [formGroup]="radioButtonForm">
  <div class="p-field p-grid">
    <fieldset class="p-fieldset p-col-12">
      <legend class="label-bold">
        Group label <span class="alertAsterisk">&nbsp;*</span>
      </legend>
      <div class="p-col-6" style="margin-top: 7px">
        <div class="ui-g-3">
          <p-radioButton
            name="radioButtonExample"
            [value]="1"
            label="Yes"
            formControlName="radioButtonExample"
            inputId="radioButtonExampleYes"
            class="p-field-radiobutton focus-container"
            (keydown.enter)="$event.preventDefault()"
          ></p-radioButton>
        </div>
        <div class="ui-g-3">
          <p-radioButton
            name="radioButtonExample"
            [value]="0"
            label="No"
            formControlName="radioButtonExample"
            inputId="radioButtonExampleNo"
            class="p-field-radiobutton focus-container"
            (keydown.enter)="$event.preventDefault()"
          ></p-radioButton>
        </div>
      </div>
    </fieldset>
  </div>
</form>
