body{
    padding: 1rem;
}
button, div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, p{
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
}

.hc-alert {
    position: relative;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hc-alert .hc-close {
    padding: 0.75rem 1.25rem;
    color: inherit;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    background-color:inherit;
    border: 0;
}

.hc-alert .hc-close:hover,
.hc-alert .hc-close:focus {
    color: inherit;
}

.hc-alert .hc-close span[aria-hidden] {
    font-size: 1.8rem;
    margin-top: -0.2rem;
}

.hc-alert-primary{
    background-color: #113c66;
    color: white;
}
.hc-alert-secondary{
    background-color:#0058a4;
    color: white;
}
.hc-alert-success{
    background-color: #9fcc3b;
    color: black;
}
.hc-alert-danger{
    background-color:#ce1432;
    color: white;
}
.hc-alert-warning{
    background-color: #ffcb05;
    color: black;
}
.hc-alert-info{
    background-color:#44c8f5;
    color: black;
}
.hc-alert-light{
    background-color:#e9ecef;
    color: black;
}
.hc-alert-dark{
    background-color:#343a40;
    color: white;
}

