.hc-banner-body {
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Headings and paragraph*/
/* h2.hc-banner-h2,
p.hc-banner-p {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0rem;
  color: white;
} */

/* Base styling for alerts */
.hc-alert {
  padding: var(--hc-spacing-05);
  margin-bottom: var(--hc-spacing-05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--hc-background-brand);
  color: white;
  max-width: 768px;
  gap: var(--hc-spacing-08);
}

h2.hc-banner-h2 {
  font-size: var(--hc-font-h4-size);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0rem;
  color: var(--hc-white);
}

p.hc-banner-p {
  font-size: var(--hc-font-body-size-regular);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0rem;
  color: var(--hc-white);
}

/* .hc-alert > .hc-alert-content > h2.hc-banner-h2 {
  font-size: var(--hc-font-h4-size);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0rem;
  color: white;
}

.hc-alert > .hc-alert-content > p.hc-banner-p {
  font-size: var(--hc-font-body-size-regular);
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0rem;
  color: white;
} */

/* overcomplicated way of styling text */
/* might make sense for adding colors for various combos like hc-alert-error */
/* This lets all text and content use the same class but still have different styling depending on the class of their parent container */
/* For now leaving all text as black or white and commenting the code out, but leaving it in the file in case we want to update the text to match field color */

/* success heading styling */
/* .hc-alert.hc-alert-success > .hc-alert-content > h2.hc-banner-h2 {
  color: var(--hc-green-90);
} */

/* success paragraph styling */
/* .hc-alert.hc-alert-success > .hc-alert-content > p.hc-banner-p {
  color: var(--hc-green-90);
} */

/* Different styling for alert types */
.hc-alert-content {
  display: flex;
  flex-direction: column;
  gap: var(--hc-spacing-03);
}

/* Default styling for the close button */
.hc-alert .hc-close {
  color: inherit;
  display: flex;
  align-items: center;
  /* background-color: inherit; */
  border-style: solid;
  border-width: var(--hc-border-width-small);
  border-color: var(--hc-white);
}

/* IDK what this does, I think it's related to the X icon in the close button */
.hc-alert .hc-close span[aria-hidden] {
  font-size: 1.8rem;
  margin-top: -0.2rem;
}

/* Success styling */
.hc-alert-success {
  background-color: var(--hc-support-success);
  color: black;
}

/* success heading styling */
.hc-alert.hc-alert-success > .hc-alert-content > h2.hc-banner-h2 {
  color: var(--hc-black);
}

/* success paragraph styling */
.hc-alert.hc-alert-success > .hc-alert-content > p.hc-banner-p {
  color: var(--hc-black);
}

/* success close button styling */
.hc-alert.hc-alert-success > .hc-close {
  background-color: var(--hc-support-success);
  border-color: var(--hc-black);
}
.hc-alert.hc-alert-success > .hc-close:hover {
  background-color: var(--hc-support-success--hover);
}
.hc-alert.hc-alert-success > .hc-close:active {
  background-color: var(--hc-support-success--active);
}

/*Danger styling */
.hc-alert-danger {
  background-color: var(--hc-support-error);
  color: white;
}

/*Warning styling */
.hc-alert-warning {
  background-color: var(--hc-support-warning);
  color: black;
}

/*Info styling? We maybe can delete this one, Primary alert serves this purpose */
.hc-alert-info {
  background-color: #44c8f5;
  color: black;
}

/* backup of close button */
/* .hc-alert .hc-close {
  padding: 0.75rem 1.25rem;
  color: inherit;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  background-color: inherit;
  border-style: solid;
  border-width: var(--hc-border-width-small);
  border-color: var(--hc-black);
} */

/* .hc-alert .hc-close:hover,
.hc-alert .hc-close:focus {
  color: inherit;
} */
