:host {
  /* Confirm dialog style */
    .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
        font-size: 2rem;
    }

    .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
        margin-left: 1rem;
    }

    /*Modal Style */
    .p-dialog .p-dialog-header .p-dialog-title {
        margin: initial !important;
    } 

    .p-dialog {
        border-radius: 3px;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        border: 0 none;
    }

    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #495057;
        padding: 1.5rem;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon {
        width: 2rem;
        height: 2rem;
        color: #757575;
        border: 0 none;
        background: transparent;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        margin-right: 0.5rem;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
        color: #495057;
        border-color: transparent;
        background: #e9ecef;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
        margin-right: 0;
    }

    .p-dialog .p-dialog-content {
        background: #ffffff;
        color: #495057;
        padding: 0 1.5rem 2rem 1.5rem;
    }

    .p-dialog .p-dialog-footer {
        border-top: 0 none;
        background: #ffffff;
        color: #495057;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-align: right;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .p-dialog .p-dialog-footer button {
        margin: 0 0.5rem 0 0;
        width: auto;
    }

    .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
        font-size: 2rem;
    }

    .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
        margin-left: 1rem;
    }

    .p-dialog-mask.p-component-overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Error style for input fields */
    .p-inputtext.p-error,
    .p-inputtext.p-invalid,
    .p-inputtext.ng-dirty.ng-invalid {
        border-color: #ce1432;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3e%3cpath style='fill:%23ce1432;stroke:%23ce1432;stroke-width:4;stroke-miterlimit:10;' d='M25.5,26c-0.1,0-0.3,0-0.4-0.1l-23-23C2,2.7,2,2.3,2.1,2.1s0.5-0.2,0.7,0l23,23c0.2,0.2,0.2,0.5,0,0.7C25.8,26,25.6,26,25.5,26z'/%3e%3cpath style='fill:%23ce1432;stroke:%23ce1432;stroke-width:4;stroke-miterlimit:10;' d='M2.5,26c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l23-23c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-23,23C2.8,26,2.6,26,2.5,26z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        margin-bottom: 0.5rem;
    }

    /* Radio Box style */
    .p-field-radiobutton.focus-container:focus-within{
        outline:4px solid;
        outline-offset:4px;
    }

    .p-radiobutton.p-checkbox-focused {
        outline:none;
    }

    .p-checkbox-box.p-focus{
        outline:none;
        box-shadow: none;
    }

    .p-radiobutton-box.p-focus{
        outline:none;
        box-shadow: none;
    }

    .p-field-radiobutton.focus-container{
        margin-bottom: 0.75rem;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon {
        width: 2rem;
        height: 2rem;
        color: #757575;
        border: 0 none;
        background: transparent;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        margin-right: 0.5rem;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
        color: #495057;
        border-color: transparent;
        background: #e9ecef;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
        margin-right: 0;
    }


    .p-dialog .p-dialog-footer button {
        color: #ffffff;
        background: #113c66;
        border: 1px solid #113c66;
        padding: 0.4rem 0.75rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
        border-radius: 3px;
        line-height: 1.5rem;
        letter-spacing: 0em;
    }

    .p-button {
        color: #ffffff;
        background: #113c66;
        border: 1px solid #113c66;
        padding: 0.4rem 0.75rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
        border-radius: 3px;
        line-height: 1.5rem;
        letter-spacing: 0em;
    }

    .secondary-btn {
        background: #ffffff;
        color: #113c66;
    }

    .danger-btn {
        background: #ce1432;
        border: 1px solid #ce1432;
        color: #ffffff;
    }

    .p-button-label {
        font-size: 1rem;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
    }

    .p-button:hover {
        background-color: #002852;
        border-color: #002852;
        color: #ffffff;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    }

    .danger-btn:hover {
        background: #ba001e;
        border: 1px solid #ba001e;
        color: #ffffff;
    }

    .p-button:active {
        background-color: #0a1e48;
        border-color: #0a1e48;
        color: #ffffff;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    }

    .p-button:focus {
        background-color: #0a1e48;
        border-color: #0a1e48;
        border: black;
        color: #ffffff;
        margin: 2px 2px;
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0058a4;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    }

    .danger-btn:focus {
        background: #a6000a;
        border: 1px solid #a6000a;
        color: #ffffff;
    }

    .p-button:disabled {
        background-color: #c3c6c9;
        border-color: #c3c6c9;
        color: #818283;
    }

    .secondary-btn:disabled {
        background-color: #ffffff;
        border: 2px solid #818283;
        color: #818283;
    }


    .label-bold {
        font-weight: bold;
    }
}