<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="radioButton.css" />
  </head>
  <body class="hc-padding-xy-06">
    <h1 class="hc-margin-top-06">Radio Buttons</h1>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Default state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Disable browser validation for any examples that include form elements -->
    <form action="/form-handler" method="post" novalidate>
      <div class="hc-form-group">
        <fieldset class="hc-fieldset">
          <legend class="hc-fieldset__legend">Where do you live?</legend>
          <div class="hc-radios" data-module="hc-radios">

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="hennepin"
                name="whereDoYouLive"
                type="radio"
                value="hennepin"
              />
              <label
                class="hc-field-label hc-radios__label"
                for="hennepin"
              >
                Hennepin county
              </label>
            </div>

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="otherCounty"
                name="whereDoYouLive"
                type="radio"
                value="otherCounty"
              />
              <label
                class="hc-field-label hc-radios__label"
                for="otherCounty"
              >
                A county in Minnesota that is not Hennepin County
              </label>
            </div>

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="outsideMN"
                name="whereDoYouLive"
                type="radio"
                value="outsideMN"
              />
              <label
                class="hc-field-label hc-radios__label"
                for="outsideMN"
              >
                A US state that is not Minnesota
              </label>
            </div>

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="outsideUS"
                name="whereDoYouLive"
                type="radio"
                value="outsideUS"
              />
              <label
                class="hc-field-label hc-radios__label"
                for="outsideUS"
              >
                Outside of the US
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </form>

    <!-- ================ -->
    <!-- ================ -->
    <!-- With hint -->
    <!-- ================ -->
    <!-- ================ -->
    <form action="/form-handler" method="post" novalidate>
      <div class="hc-form-group">
          <fieldset class="hc-fieldset" aria-describedby="fieldset-hint-when-did-you-move">
              <legend class="hc-fieldset__legend">
                  Did you move to Minnesota within the last year?
              </legend>

              <!-- Directly providing context for the question with hint text -->
              <p class="hc-text-hint" id="fieldset-hint-when-did-you-move">
                  Hint: Please select 'Yes' if you moved to Minnesota within the last year; otherwise, select 'No'.
              </p>

              <div class="hc-radios" data-module="hc-radios">
                  <div class="hc-radios__item">
                      <input
                          class="hc-radios__input"
                          id="iMoved"
                          name="whenDidYouMove"
                          type="radio"
                          value="iMoved"
                          aria-labelledby="label-iMoved"
                      />
                      <label
                          id="label-iMoved"
                          class="hc-field-label hc-radios__label"
                          for="iMoved"
                      >
                          Yes
                      </label>
                  </div>
                  <div class="hc-radios__item">
                      <input
                          class="hc-radios__input"
                          id="iDidntMove"
                          name="whenDidYouMove"
                          type="radio"
                          value="iDidntMove"
                          aria-labelledby="label-iDidntMove"
                      />
                      <label
                          id="label-iDidntMove"
                          class="hc-field-label hc-radios__label"
                          for="iDidntMove"
                      >
                          No
                      </label>
                  </div>
              </div>
          </fieldset>
      </div>
  </form>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Styling and accessibility guidance for validation -->
    <!-- You might not need both the error and hint examples on each radio button -->
    <!-- Determine need based on the context of the radio button question -->
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">

        <!-- aria-invalid="true" should be added/removed dynamically based on validation logic -->
        <fieldset 
          class="hc-fieldset" 
          aria-describedby="fieldset-error-example-1"
          aria-invalid="true"
        >
          <legend class="hc-fieldset__legend">I need to replace:</legend>
          <p 
            class="hc-text-error" 
            id="fieldset-error-example-1" 
            role="alert"
          >
            Select what you are trying to replace
          </p>
          <div class="hc-radios" data-module="hc-radios">

            <div class="hc-radios__item">
              <input 
                class="hc-radios__input" 
                id="check-1" 
                name="checkReplacement" 
                type="radio" 
                value="SNAP" 
                aria-describedby="fieldset-error-example-1" 
              />
              <label class="hc-field-label hc-radios__label" for="check-1">
                Supplemental Nutrition Assistance Program (SNAP)/food benefits card
              </label>
            </div>

            <div class="hc-radios__item">
              <input 
                class="hc-radios__input" 
                id="check-2" 
                name="checkReplacement" 
                type="radio" 
                value="notReceived" 
                aria-describedby="fieldset-error-example-1" 
              />
              <label class="hc-field-label hc-radios__label" for="check-2">
                Mailed check not received
              </label>
            </div>

            <div class="hc-radios__item">
              <input 
                class="hc-radios__input" 
                id="check-3" 
                name="checkReplacement" 
                type="radio" 
                value="lostOrStolen" 
                aria-describedby="fieldset-error-example-1" 
              />
              <label class="hc-field-label hc-radios__label" for="check-3">
                Check lost or stolen after received
              </label>
            </div>

            <div class="hc-radios__item">
              <input 
                class="hc-radios__input" 
                id="check-4" 
                name="checkReplacement" 
                type="radio" 
                value="destroyedCheck" 
                aria-describedby="fieldset-error-example-1" 
              />
              <label class="hc-field-label hc-radios__label" for="check-4">
                Mutilated or incorrectly printed check
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </form>
    
    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation with hint -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Styling and accessibility guidance for validation -->
    <!-- You might not need both the error and hint examples on each radio button -->
    <!-- Determine need based on the context of the radio button question -->
    <form action="/form-handler" method="post" novalidate>
      <div class="hc-form-group">

        <!-- aria-invalid="true" should be added/removed dynamically based on validation logic -->
        <fieldset 
          class="hc-fieldset" 
          aria-describedby="fieldset-hint-example-2 fieldset-error-example-2"
          aria-invalid="true"
        >
          <legend class="hc-fieldset__legend">
            Have you changed your name?
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-example-2">
            This includes changing of spelling.
          </div>
          <p class="hc-text-error" id="fieldset-error-example-2">
            Select whether you have changed your name.
          </p>
          <div class="hc-radios" data-module="hc-radios">

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="nameChange-1"
                name="nameChange"
                type="radio"
                value="yes"
                aria-describedby="fieldset-hint-example-2 fieldset-error-example-2"
              />
              <label class="hc-field-label hc-radios__label" for="nameChange-1">
                Yes
              </label>
            </div>

            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="nameChange-2"
                name="nameChange"
                type="radio"
                value="no"
                aria-describedby="fieldset-hint-example-2 fieldset-error-example-2"
              />
              <label class="hc-field-label hc-radios__label" for="nameChange-2">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </form>
    

  </body>
</html>
