.hc-checkbox-body {
  font-family: Segoe UI;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

/* fieldset  */
.hc-checkbox-legend {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0em;
}


.hc-chkbox_item,
.hc-checkbox-fieldset {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

/* commented out input[type=checkbox] */

/* this would replace the default chekcbox styling without applying a class. That might cause conflict with other libraries that might be used in the proejct */
/* instead this styling will be moved to a class so the styling only applies with <input class="{className}"> instead of applying with <input> */
/* input[type="checkbox"] {
  width: 17px;
  height: 17px;
  padding: 10px;
} */

/* focus style update */
.hc-checkbox-padding {
  padding-left: 24px;
 
  padding-bottom: 8px;
}

.hc-checkbox-input{
  width: 17px;
  height: 17px;
  position: relative;
  top: 1px;
  margin-right: 10px
}

.hc-checkbox-input[type=checkbox]{
  accent-color: #0058a4;
}

.hc-checkbox-input[type="checkbox"]:focus-within {
  outline: 2px solid;
  outline-offset: 5px;
}

.hc-checkbox-label {
  display: block;
  padding-left: 48px;
  text-indent: -40px;
}
/* Styling for disabled checkboxes */

.hc-checkbox-input[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}

.hc-checkbox-input[type="checkbox"][aria-disabled="true"]:checked {
    background-color: #6c757d; 
  }



