.hc-textarea {
  font-family: var(--hc-font-family);
  min-height: 40px;
  border-radius: var(--hc-border-radius-02);
  padding: var(--hc-spacing-02);
  border: 2px solid var(--hc-border-color-regular);
  padding-right: var(--hc-spacing-07);
  /* width: 100%;  */
  /* setting width 100% would match govuk styling, textarea is set to 100% width and actual width is handled by parent container */
  /* Downside is that dev would need to know to include a parent container to control width */
}

/* error state for field, adds border and icon*/
.hc-textarea--error {
  border: 2px solid var(--hc-border-color-error);
  background: url(./icons/material-symbols_close-rounded.svg) no-repeat top
    right;
  background-size: 30px;
}

/* Focus state, changes border color to white then adds blue stroke with outline to give appearance of growing on focus */
.hc-textarea:focus {
  border: var(--hc-border-style-focus);
  outline: var(--hc-outline-style-focus);
}

.hc-textarea:disabled {
  color: var(--hc-text-disabled);
  border-color: var(--hc-border-color-disabled);
  background-color: var(--hc-background-disabled);
}
