<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Textarea</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="textArea.css" />
  </head>
  <body class="hc-padding-x-05 hc-padding-y-08">
    <div>
      <h1>Textarea</h1>
      <h2>Variants</h2>
      <div>
        <h3>Default</h3>
        <div class="hc-form-element">
          <label class="hc-field-label" for="hc-textarea1">Label</label>
          <textarea
            class="hc-textarea"
            id="hc-textarea1"
            name="hc-textarea"
            rows="5"
            cols="50"
          ></textarea>
        </div>
        <h3>Error</h3>
        <div class="hc-form-element">
          <label class="hc-field-label" for="hc-textarea5">Label</label>
          <div class="hc-text-error">Error Message</div>
          <textarea
            class="hc-textarea hc-textarea--error"
            id="hc-textarea5"
            name="hc-textarea"
            rows="5"
            cols="50"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- =========================== -->
    <!-- =========================== -->
    <!-- Examples with helper text -->
    <!-- =========================== -->
    <!-- =========================== -->

    <h1 class="hc-margin-top-09">With helper text</h1>

    <h3>Default</h3>
    <div class="hc-form-element">
      <label class="hc-field-label" for="hc-textarea-with-helper-1"
        >Label</label
      >
      <div id="hint-example-1" class="hc-text-hint">Helper text</div>
      <textarea
        class="hc-textarea"
        id="hc-textarea-with-helper-1"
        name="hc-textarea"
        rows="5"
        cols="50"
        aria-describedby="hint-example-1"
      ></textarea>
    </div>

    <h2>Error</h2>
    <div class="hc-form-element">
      <label class="hc-field-label" for="hc-textarea-with-helper-2"
        >Label</label
      >
      <div id="hint-example-2" class="hc-text-hint">Helper text</div>
      <div id="error-example-1" class="hc-text-error">Error Message</div>
      <textarea
        class="hc-textarea hc-textarea--error"
        id="hc-textarea-with-helper-2"
        name="hc-textarea"
        rows="5"
        cols="50"
        aria-describedby="hint-example-2 error-example-1"
      ></textarea>
    </div>
  </body>
</html>
