<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Textarea</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="textArea.css" />
  </head>

  <body class="hc-padding-xy-06">
    <div class="hc-form-group">
      <h1 class="hc-margin-top-06">Textarea</h1>
      <h2>Variants</h2>
      <div>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Default state -->
    <!-- ================ -->
    <!-- ================ -->
        <h3>Default</h3>
        <div class="hc-form-group">
          <label class="hc-field-label" for="hc-textarea1">Instructions</label>
          <textarea
            class="hc-textarea"
            id="hc-textarea1"
            name="hc-textarea"
            rows="5"
            cols="50"
          ></textarea>
        </div>
      </div>
    </div>

    <hr class="hc-margin-y-10" />
    <!-- =========================== -->
    <!-- =========================== -->
    <!-- With hint -->
    <!-- =========================== -->
    <!-- =========================== -->

    <h3>With helper text</h3>

    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-textarea-with-helper-1">Instructions</label>
      <div id="hint-example-1" class="hc-text-hint">Helper text with clear instructions</div>
      <textarea
        class="hc-textarea"
        id="hc-textarea-with-helper-1"
        name="hc-textarea"
        rows="5"
        cols="50"
        aria-describedby="hint-example-1"
      ></textarea>
    </div>

    <hr class="hc-margin-y-10" />
    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Styling and accessibility guidance for validation -->
    <!-- aria-invalid="true" should be added/remove dynamically based on validation logic -->

    <h3>Validation state</h3>
    <div class="hc-form-group">
      <label class="hc-field-label" for="hc-textarea5">Instructions</label>
      <div class="hc-text-error" id="textareaErrorMsg">Error Message</div>
      <textarea
        class="hc-textarea hc-textarea--error"
        id="hc-textarea5"
        name="hc-textarea"
        rows="5"
        cols="50"
        aria-describedby="textareaErrorMsg"
        aria-invalid="true"
        required
      ></textarea>
    </div>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Validation with hint -->
    <!-- ================ -->
    <!-- ================ -->

    <h3>Validation with hint</h3>
    <div class="hc-form-group">
      <label for="hc-textarea-with-helper-2" class="hc-field-label">Instructions</label>
      <div id="hint-example-2" class="hc-text-hint">Helper text with clear instructions.</div>
      <div id="error-example-1" class="hc-text-error">Error Message</div>
      <textarea
        class="hc-textarea hc-textarea--error"
        id="hc-textarea-with-helper-2"
        name="hc-textarea"
        rows="5"
        cols="50"
        aria-describedby="hint-example-2 error-example-1"
        aria-invalid="true"
        required
      ></textarea>
    </div>
    
  </body>
</html>
