:host {

    .p-inputtext:enabled:focus {
        outline: black 4px solid !important;
    /* adjust the width depending on the element size */
    outline-offset: 0 !important;
    /* adjust the offset depending on the element */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        
    }

    .field > label {
        font-family: Segoe UI;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .p-inputtext.p-error,
    .p-inputtext.p-invalid,
    .p-inputtext.ng-dirty.ng-invalid {
        border-color: #ce1432;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3e%3cpath style='fill:%23ce1432;stroke:%23ce1432;stroke-width:4;stroke-miterlimit:10;' d='M25.5,26c-0.1,0-0.3,0-0.4-0.1l-23-23C2,2.7,2,2.3,2.1,2.1s0.5-0.2,0.7,0l23,23c0.2,0.2,0.2,0.5,0,0.7C25.8,26,25.6,26,25.5,26z'/%3e%3cpath style='fill:%23ce1432;stroke:%23ce1432;stroke-width:4;stroke-miterlimit:10;' d='M2.5,26c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l23-23c0.2-0.2,0.5-0.2,0.7,0s0.2,0.5,0,0.7l-23,23C2.8,26,2.6,26,2.5,26z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        margin-bottom: 0.5rem;
    }

    .p-inputtext {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        color: #495057;
        background: #ffffff;
        padding: 0.5rem 0.5rem;
        border: 1px solid #C8CED5;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        appearance: none;
        border-radius: 3px;
    }

    .p-inputtext:enabled:hover {
        border-color: #113c66;
    }

    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
        border-color: #113c66;
    }

    .p-inputtext.p-error,
    .p-inputtext.p-invalid,
    .p-inputtext.ng-dirty.ng-invalid {
        border-color: #f44336;
    }

    .p-inputtext.p-inputtext-sm {
        font-size: 0.875rem;
        padding: 0.4375rem 0.4375rem;
    }

    .p-inputtext.p-inputtext-lg {
        font-size: 1.25rem;
        padding: 0.625rem 0.625rem;
    }

    .p-float-label>label {
        left: 0.5rem;
        color: #757575;
        transition-duration: 0.2s;
    }

    .p-input-icon-left>i:first-of-type {
        left: 0.5rem;
        color: #757575;
    }

    .p-input-icon-left>.p-inputtext {
        padding-left: 2rem;
    }

    .p-input-icon-right>i:last-of-type {
        right: 0.5rem;
        color: #757575;
    }

    .p-input-icon-right>.p-inputtext {
        padding-right: 2rem;
    }

    ::-webkit-input-placeholder {
        color: #76748b;
    }

    :-moz-placeholder {
        color: #76748b;
    }

    ::-moz-placeholder {
        color: #76748b;
    }

    :-ms-input-placeholder {
        color: #76748b;
    }

    .p-input-filled .p-inputtext {
        background-color: #f8f9fa;
    }

    .p-input-filled .p-inputtext:enabled:hover {
        background-color: #f8f9fa;
    }

    .p-input-filled .p-inputtext:enabled:focus {
        background-color: #ffffff;
    }

    .p-inputtext-sm .p-inputtext {
        font-size: 0.875rem;
        padding: 0.4375rem 0.4375rem;
    }

    .p-inputtext-lg .p-inputtext {
        font-size: 1.25rem;
        padding: 0.625rem 0.625rem;
    }


    .alertNotification {
        padding-left: 5px;
        margin-top: 5px;
        color: #ce1432;
    }


  .p-button {
    color: #ffffff;
    background: #113c66;
    border: 1px solid #113c66;
    padding: 0.4rem 0.75rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 3px;
    line-height: 1.5rem;
    letter-spacing: 0em;
  }

  .secondary-btn {
    background: #ffffff;
    color: #113c66;
  }

  .danger-btn {
    background: #ce1432;
    border: 1px solid #ce1432;
    color: #ffffff;
  }

  .p-button-label {
    font-size: 1rem;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
  }

  .p-button:hover {
    background-color: #002852;
    border-color: #002852;
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }

  .danger-btn:hover {
    background: #ba001e;
    border: 1px solid #ba001e;
    color: #ffffff;
  }

  .p-button:active {
    background-color: #0a1e48;
    border-color: #0a1e48;
    color: #ffffff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }

  .p-button:focus {
    background-color: #0a1e48;
    border-color: #0a1e48;
    border: black;
    color: #ffffff;
    margin: 2px 2px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0058a4;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  }

  .danger-btn:focus {
    background: #a6000a;
    border: 1px solid #a6000a;
    color: #ffffff;
  }

  .p-button:disabled {
    background-color: #c3c6c9;
    border-color: #c3c6c9;
    color: #818283;
  }

  .secondary-btn:disabled {
    background-color: #ffffff;
    border: 2px solid #818283;
    color: #818283;
  }

  .p-radiobutton {
    width: 20px;
    height: 20px;
}

.p-radiobutton .p-radiobutton-box {
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 20px;
    height: 20px;
    color: #495057;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #113c66;
}

/* .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #113c66;
} */

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 12px;
    height: 12px;
    transition-duration: 0.2s;
    background-color: #ffffff;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #113c66;
    background: #113c66;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #0b7ad1;
    background: #0b7ad1;
    color: #ffffff;
}

.p-radiobutton.p-error>.p-radiobutton-box,
.p-radiobutton.p-invalid>.p-radiobutton-box {
    border-color: #f44336;
}

p-radiobutton.ng-dirty.ng-invalid>.p-radiobutton>.p-radiobutton-box {
    border-color: #f44336;
}

.p-input-filled .p-radiobutton .p-radiobutton-box {
    background-color: #f8f9fa;
}

.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
    background-color: #f8f9fa;
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #113c66;
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: #0b7ad1;
}

.p-radiobutton-label {
    margin-left: 0.5rem;
}


.p-fieldset {
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-radius: 3px;
}

.p-fieldset .p-fieldset-legend {
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #f8f9fa;
    font-weight: 600;
    border-radius: 3px;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
    padding: 0;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 1rem;
    color: #495057;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
    margin-right: 0.5rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
    background: #e9ecef;
    border-color: #dee2e6;
    color: #495057;
}

.p-fieldset .p-fieldset-content {
    padding: 1rem;
}

/* Check box modifications */
.p-field-checkbox.focus-container{
    margin-bottom: 1rem;
}

.p-field-checkbox.focus-container.p-checkbox {
    /* may need to fix the name of this class */
    margin-right:0.5rem;
}

.p-field-radiobutton.focus-container{
    margin-bottom: 0.75rem;
}

.p-field-radiobutton.focus-container:focus-within{
    outline:4px solid;
    outline-offset:4px;
}

.p-radiobutton-box.p-focus{
    outline:none;
    box-shadow: none;
}

.p-radiobutton.p-checkbox-focused {
    outline:none;
}

.p-checkbox-box.p-focus{
    outline:none;
}

    .helper-text {
        font-family: Segoe UI;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;    
        margin: auto;
    }

}