/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: "myriad-pro", Arial, sans-serif;
}


body {
    margin: 0 !important;
    font-family: "myriad-pro", Arial, sans-serif !important;
    color: #000000 !important;
    background-color: white;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}





