body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    size: 16px;
    line-height: 150%;
    direction: horizontal;
    display: flex;
    min-width: 280px;
    padding: 4.5px 12px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
select {
    background: url(carbon_chevron-down.svg) no-repeat;
    appearance: none;
    background-position: right 5px top 50%;
}
select:focus {
    outline-offset: -2px ;
    outline: 2px solid #0058a4;
}
select:active {
    outline-offset: -2px ;
    outline: 2px solid #0058a4;
}

