/* govuk example
https://github.com/alphagov/govuk-frontend/blob/a2ff2e41967a38785aaef33135dc7e41cbd6d00b/packages/govuk-frontend/src/govuk/components/breadcrumbs/_index.scss
 */

.hc-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0;
}

.hc-breadcrumbs__list-item {
  display: flex;
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item {
  padding-left: 0.5rem;
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: ">";
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item:hover::before {
  text-decoration: underline;
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item:hover::before {
  text-decoration: none;
}

.hc-breadcrumbs__list-item.active {
  color: #6c757d;
}
