/* Glues the input field and button together */
.hc-search-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--hc-spacing-00);
}

/* Styling for font typed into field */
input.hc-input[type="search"] {
  font-family: var(--hc-font-family);
  font-size: var(--hc-font-body-size-regular);
  font-style: normal;
  color: var(--hc-text-primary, #171a1d);
  font-weight: 400;
  line-height: 100%;
}

/* Un-rounds the corners of input field to be flush against button */
.hc-input-search {
  border-radius: 4px 0px 0px 4px;
}

/* Un-rounds the corners of button to be flush against input field */
.hc-button-search {
  border-radius: 0px 4px 4px 0px;
  margin-inline-start: -2px;
}
