<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="./search.css" />
  </head>
  <body class="hc-padding-xy-04">
    <h1>Search component</h1>

    <div class="hc-form-element">
      <form action="./search">
        <label class="hc-field-label hc-visually-hidden" for="search"
          >Search</label
        >
        <div class="hc-search-wrapper">
          <input
            type="search"
            class="hc-input hc-input-search"
            id="search"
            name="hc-name1"
            spellcheck="true"
          />
          <button class="hc-button hc-button--icon-left hc-button-search">
            <span class="material-symbols-outlined"> search </span>
            Search
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
