/* Glues the input field and button together */
/* .hc-search-wrapper {
	display: flex;
	flex-direction: row;
	gap: var(--hc-spacing-00);
	padding: var(--hc-spacing-03);
	position: relative;
	justify-content: flex-start;
	width: fit-content;
} */

.hc-search-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	height: auto;
	border-radius: var(--hc-border-radius-02);
	padding: var(--hc-spacing-03);
	border: 2px solid var(--hc-field-border-color);
	border-radius: 9999px;
	align-items: center;
	justify-content: center;
}

.hc-search-wrapper:focus-within {
	border: var(--hc-border-style-focus);
	outline: var(--hc-outline-style-focus);
}

/* Styling for font typed into field */
input.hc-input[type="search"] {
	appearance: none;
	font-family: var(--hc-font-family);
	font-size: var(--hc-font-body-size-regular);
	font-style: normal;
	color: var(--hc-text-primary, #171a1d);
	font-weight: 400;
	line-height: 100%;
	height: 100px;
	padding: 8px;

	height: var(--hc-height--medium);
	/* border-radius: 9999px; */
	padding: var(--hc-spacing-02);
	border: 2px solid var(--hc-transparent);
	background-color: var(--hc-transparent);
	width: 100%;
}

input.hc-input[type="search"]:focus {
	border: 2px solid var(--hc-transparent);
	outline: var(--hc-transparent) solid 3px;
}

/* Un-rounds the corners of input field to be flush against button */
.hc-input-search {
	/* border-radius: 4px 0px 0px 4px; */
	border-radius: 9999px;
}

/* Un-rounds the corners of button to be flush against input field */
.hc-button-search {
	/* border-radius: 0px 4px 4px 0px; */
	margin-inline-start: -2px;
	/* position: absolute; */
	top: 4px;
	right: 4px;
}
