<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../../CSS/index.css" />
		<link rel="stylesheet" href="./search.css" />
	</head>
	<body class="hc-padding-xy-06">
		<h1 class="hc-margin-top-06">Search component</h1>

		<div class="hc-form-group">
			<!-- ================ -->
			<!-- ================ -->
			<!-- Search -->
			<!-- ================ -->
			<!-- ================ -->

			<!-- This search form is currently for display purposes only and does not perform a search operation  -->
			<!-- The action attribute is intentionally left blank.  -->
			<!-- Implement the search functionality as needed. -->
			<form action="" method="get">
				<div class="hc-search-wrapper">
					<input
						type="search"
						class="hc-input hc-input-search"
						id="search"
						name="search"
						spellcheck="true"
						aria-label="Search the site"
					/>
					<button class="hc-button hc-button-search" aria-label="Search">
						<!-- <svg
              xmlns="http://www.w3.org/2000/svg"
              class="hc-icon-size--regular"
              viewBox="0 -960 960 960"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
              />
            </svg> -->
						Search
					</button>
				</div>
			</form>
		</div>
	</body>
</html>
