<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="accordion.css" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <script src="accordion.js" defer></script>
  </head>

  <body class="hc-padding-09">
    <!-- =================== -->
    <!-- =================== -->
    <h1>Accordion group</h1>
    <!-- =================== -->
    <!-- =================== -->

    <div class="hc-accordion-group">
      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          <h2 class="hc-accordion-section-heading">Title 1</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hc-icon-size--regular"
            viewbox="0 -960 960 960"
          >
            <path
              d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
            />
          </svg>
        </button>
        <div class="hc-accordion-content">
          <h3 class="hc-heading-m">Header 1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
            ducimus, similique veritatis pariatur minima atque debitis omnis
            eveniet id! Ducimus, ut.
          </p>
        </div>
      </div>

      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          <h2 class="hc-accordion-section-heading">Title 2</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hc-icon-size--regular"
            viewbox="0 -960 960 960"
          >
            <path
              d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
            />
          </svg>
        </button>
        <div class="hc-accordion-content">
          <div class="content">
            <h3 class="hc-heading-m">Header 2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
              aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
              ducimus, similique veritatis pariatur minima atque debitis omnis
              eveniet id! Ducimus, ut.
            </p>
          </div>
        </div>
      </div>

      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          <h2 class="hc-accordion-section-heading">Title 2</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hc-icon-size--regular"
            viewbox="0 -960 960 960"
          >
            <path
              d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
            />
          </svg>
        </button>
        <div class="hc-accordion-content">
          <h3 class="hc-heading-m">Header 3</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
            ducimus, similique veritatis pariatur minima atque debitis omnis
            eveniet id! Ducimus, ut.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
