/* Wrapper for accordion group */
.hc-accordion-group {
  /* background-color: white; */
  border-radius: var(--hc-border-radius-01);
  max-width: 768px;
}

/* Div wrapping accordion button with its expandable content */
.hc-accordion-item {
  margin-bottom: var(--hc-spacing-02);
}

/* Class attached to button to make the accordion clickable */
.hc-accordion-header {
  font-family: var(--hc-font-family);
  font-weight: 400;
  font-size: var(--hc-font-h4-size);
  color: var(--hc-text-primary);
  background-color: var(--hc-gray-10);
  line-height: 130%;
  text-align: left;
  cursor: pointer;
  padding: var(--hc-spacing-04);
  transition: background-color 0.08s ease-in-out;
  min-width: 100%;
  /* border: 4px solid transparent; */
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: var(--hc-border-style-transparent);
}

.hc-accordion-section-heading {
  font-family: var(--hc-font-family);
  font-weight: 400;
  font-size: var(--hc-font-h4-size);
  color: var(--hc-text-primary);
  line-height: 130%;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hc-accordion-header:focus {
  border: var(--hc-border-style-focus);
  outline: var(--hc-outline-style-focus);
}

.hc-accordion-header:hover {
  background-color: var(--hc-gray-20);
}

/* Positioning for content inside the accordion */
.hc-accordion-content {
  font-family: "Segoe UI", Arial, sans-serif;
  padding-top: var(--hc-spacing-04);
  padding-left: var(--hc-spacing-04);
  padding-right: var(--hc-spacing-07);
  display: none;
  margin-bottom: 32px;
  max-width: 80ch;
}

/* Class added by JS when clicked */
/* JS changes from display:none to display:block, maybe that can be done in this class instead of JS? */
.hc-accordion-content--expanded {
  padding-bottom: var(--hc-spacing-03);
}

/* Different way of adding icon -- this doesn't add an icon, and instead adds text */
/* Changged to an icon so that sizing can be consistent (+ and - text versions have different widths) */
/* .hc-accordion-active .hc-accordion-symbol {
  content: "-";
} */
