<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="accordion.css" />
		<link rel="stylesheet" href="../../CSS/index.css" />
		<script src="accordion.js" defer></script>
	</head>

	<body class="hc-padding-xy-09">
		<h1 class="hc-margin-top-06">Accordion group</h1>

		<!-- ================ -->
		<!-- ================ -->
		<!-- Accordions -->
		<!-- ================ -->
		<!-- ================ -->

		<div class="hc-accordion-group">
			<div class="hc-accordion-item">
				<h2 class="hc-accordion-section-heading">
					<button
						type="button"
						class="hc-accordion-header"
						aria-expanded="false"
					>
						Title 1
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="hc-icon-size--regular"
							viewbox="0 -960 960 960"
						>
							<path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							/>
						</svg>
					</button>
				</h2>
				<div class="hc-accordion-content">
					<h3 class="hc-heading-m">Topic title 1</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>

			<div class="hc-accordion-item">
				<h2 class="hc-accordion-section-heading">
					<button
						type="button"
						class="hc-accordion-header"
						aria-expanded="false"
					>
						Title 2
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="hc-icon-size--regular"
							viewbox="0 -960 960 960"
						>
							<path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							/>
						</svg>
					</button>
				</h2>
				<div class="hc-accordion-content">
					<div class="content">
						<h3 class="hc-heading-m">Topic title 2</h3>
						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.
						</p>
					</div>
				</div>
			</div>

			<div class="hc-accordion-item">
				<h2 class="hc-accordion-section-heading">
					<button
						type="button"
						class="hc-accordion-header"
						aria-expanded="false"
					>
						Title 3
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="hc-icon-size--regular"
							viewbox="0 -960 960 960"
						>
							<path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							/>
						</svg>
					</button>
				</h2>
				<div class="hc-accordion-content">
					<h3 class="hc-heading-m">Topic title 3</h3>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem
						accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
						quae ab illo inventore veritatis et quasi architecto beatae vitae
						dicta sunt explicabo.
					</p>
				</div>
			</div>
		</div>

		<div class="hc-form-group">
			<h1 class="hc-margin-top-06">Text input</h1>
			<h2>Variants</h2>

			<!-- ================ -->
			<!-- ================ -->
			<!-- Default state -->
			<!-- ================ -->
			<!-- ================ -->

			<h3>Default</h3>
			<div class="hc-form-group">
				<label class="hc-field-label" for="hc-textInputEx1">Full name</label>
				<input
					class="hc-input"
					id="hc-textInputEx1"
					name="hc-name1"
					type="text"
				/>
			</div>
		</div>

		<hr class="hc-margin-y-10" />
		<!-- ========================= -->
		<!-- ========================= -->
		<!-- With hint -->
		<!-- ========================= -->
		<!-- ========================= -->
		<h3>With helper text</h3>

		<div class="hc-form-group">
			<label class="hc-field-label" for="hc-textInputEx2"
				>What is your zip code?</label
			>
			<div class="hc-text-hint" id="hc-hint-textInput">
				Helper text with clear instructions
			</div>
			<input
				class="hc-input"
				id="hc-textInputEx2"
				name="hc-zipCode"
				type="text"
				spellcheck="true"
				aria-describedby="hc-hint-textInput"
			/>
		</div>

		<hr class="hc-margin-y-10" />

		<!-- ================ -->
		<!-- ================ -->
		<!-- Validation state -->
		<!-- ================ -->
		<!-- ================ -->

		<!-- Styling and accessibility guidance for validation -->
		<!-- aria-invalid="true" should be added/remove dynamically based on validation logic -->

		<h3>Validation state</h3>
		<div class="hc-form-group">
			<label class="hc-field-label" for="hc-textInputEx3"
				>What is your favorite animal?</label
			>
			<div class="hc-text-error" id="textInputErrorMsg1">Error message</div>
			<input
				class="hc-input hc-input--error"
				id="hc-textInputEx3"
				name="hc-animal"
				type="text"
				aria-describedby="textInputErrorMsg1"
				aria-invalid="true"
				required
			/>
		</div>

		<!-- ================ -->
		<!-- ================ -->
		<!-- Validation with hint -->
		<!-- ================ -->
		<!-- ================ -->

		<!-- Styling and accessibility guidance for validation -->
		<!-- aria-invalid="true" should be added/remove dynamically based on validation logic -->

		<h3>Validation with hint</h3>
		<div class="hc-form-group">
			<label class="hc-field-label" for="hc-textInputEx4"
				>What is your favorite color?</label
			>
			<div class="hc-text-hint" id="hc-hint-textInput2">
				Helper text with clear instructions
			</div>
			<div class="hc-text-error" id="textInputErrorMsg2">Error Message</div>
			<input
				class="hc-input hc-input--error"
				id="hc-textInputEx4"
				name="hc-color"
				type="text"
				aria-describedby="hc-hint-textInput2 textInputErrorMsg2"
				aria-invalid="true"
				required
			/>
		</div>
	</body>
</html>
