<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="accordion.css" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <script src="accordion.js" defer></script>
  </head>

  <body class="hc-padding-09">
    <div class="hc-accordion-group">
      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          Title 1
          <span class="material-symbols-outlined"> add </span>
        </button>
        <div class="hc-accordion-content">
          <h3 class="hc-heading-m">Header 1</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
            ducimus, similique veritatis pariatur minima atque debitis omnis
            eveniet id! Ducimus, ut.
          </p>
        </div>
      </div>

      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          Title 2
          <span class="material-symbols-outlined"> add </span>
        </button>
        <div class="hc-accordion-content">
          <div class="content">
            <h3 class="hc-heading-m">Header 2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
              aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
              ducimus, similique veritatis pariatur minima atque debitis omnis
              eveniet id! Ducimus, ut.
            </p>
          </div>
        </div>
      </div>

      <div class="hc-accordion-item">
        <button type="button" class="hc-accordion-header" aria-expanded="false">
          Title 3
          <span class="material-symbols-outlined" aria-hidden="true">
            add
          </span>
        </button>
        <div class="hc-accordion-content">
          <h3 class="hc-heading-m">Header 3</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            aspernatur cumque facilis eos nulla? Corporis, minus non? Adipisci
            ducimus, similique veritatis pariatur minima atque debitis omnis
            eveniet id! Ducimus, ut.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
