<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="modal.css" />

    <script src="modal.js" defer></script>
  </head>


  <body class="hc-padding-xy-09">
    <h1 class="hc-margin-top-06">Modal</h1>
    <div>
      <button class="hc-button" data-open-modal>Open new modal</button>
    </div>

    <dialog 
      class="hc-modal" 
      data-modal
      aria-modal="true"
      aria-labelledby="modalTitle"
    >
      <div class="modal-header-and-close">
        <h3 id="modalTitle" class="hc-margin-bottom-00">Modal title</h3>
        <button 
          class="hc-button hc-button--icon-only" 
          aria-label="Close" 
          data-close-modal
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="hc-icon-size--regular"
            viewbox="0 -960 960 960"
          >
            <path
             d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
            />            
          </svg>
        </button>
      </div>

      <div class="modal-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="button-group">
        <button
          type="button"
          class="hc-button hc-button--secondary btn-outline-primary"
          data-close-modal
        >
          Cancel
        </button>
        <button class="hc-button">Save changes</button>
      </div>
    </dialog>
  </body>
</html>
