<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="checkbox.css" />
    <script src="checkbox.js" defer></script>
  </head>

  <body class="hc-padding-06">
    <h1>Checkboxes</h1>
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- Easy copy  + paste -->
    <!-- ============================== -->
    <!-- ============================== -->
    <h2>Checkbox - regular</h2>
    <div class="hc-form-group">
      <fieldset class="hc-fieldset">
        <legend class="hc-fieldset__legend">Title for legend</legend>
        <div class="hc-checkboxes" data-module="hc-checkbox">
          <div class="hc-checkbox__item">
            <input
              class="hc-checkbox__input"
              id="easy-copy-paste-example-1"
              name="copyPasteExample"
              type="checkbox"
              value="easyPaste"
            />
            <label
              class="hc-field-label hc-checkbox__label"
              for="easy-copy-paste-example-1"
            >
              This is a checkbox example
            </label>
          </div>

          <div class="hc-checkbox__item">
            <input
              class="hc-checkbox__input"
              id="easy-copy-paste-example-3"
              name="copyPasteExample"
              type="checkbox"
              value="secondEasyPaste"
            />
            <label
              class="hc-field-label hc-checkbox__label"
              for="easy-copy-paste-example-3"
            >
              Another checkbox example
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <h2>With hint text</h2>

    <!-- form group wrapper -->
    <!-- this is a class used for all form groups -->
    <!-- only styling is margin-bottom -->
    <div class="hc-form-group">
      <!-- fieldset, this is semantic for accessibility -->
      <fieldset class="hc-fieldset">
        <!-- legend, this is semantic for accessibility -->
        <legend
          class="hc-fieldset__legend"
          aria-describedby="fieldset-hint-homeownership"
        >
          Title for legend
        </legend>
        <!-- secondary text/hint/helper text for question -->
        <div class="hc-text-hint" id="fieldset-hint-homeownership">
          Hint text preview to provide context for question
        </div>
        <!-- hc-checkboxes is a wrapper -->
        <div class="hc-checkboxes" data-module="hc-checkbox">
          <!-- individual checkbox item, consists of input and label -->
          <!-- wrapper for input and label
        includes min-height for consistent sizing of form elements
         margin-bottom adds space between items (this might be changed to gap)
        position: relative so that absolute positioning can be used for label and input  -->

          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="renting"
              name="exampleCheckboxGroup"
              type="checkbox"
              value="rent"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-field-label hc-checkbox__label" for="renting">
              I am renting
            </label>
          </div>
          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="owning"
              name="exampleCheckboxGroup"
              type="checkbox"
              value="buy"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-field-label hc-checkbox__label" for="owning">
              I own my home
            </label>
          </div>

          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling of input is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="subletting"
              name="exampleCheckboxGroup"
              type="checkbox"
              value="sublet"
              aria-describedby="example-hint"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-field-label hc-checkbox__label" for="subletting">
              I am subletting to someone else
            </label>
            <div id="example-hint" class="hc-text-hint hc-checkbox__hint">
              Hint text explaining what sublet means
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- ============================== -->
    <!-- ============================== -->
    <!-- Error state -->
    <!-- ============================== -->
    <!-- ============================== -->
    <form action="/form-handler" method="post" novalidate="">
      <h3>Error state</h3>
      <h4 class="hc-margin-bottom-06">Error with hint</h4>
      <div class="hc-form-group">
        <fieldset class="hc-fieldset">
          <legend
            class="hc-fieldset__legend"
            aria-describedby="fieldset-hint-example-1 fieldset-error-example-1"
          >
            Title for legend
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-example-1">
            Hint text preview to provide context for question
          </div>
          <p class="hc-text-error" id="fieldset-error-example-1">
            <span class="hc-visually-hidden">Error:</span> Select if you have
            done X or Y
          </p>
          <div class="hc-checkboxes" data-module="hc-checkbox">
            <div class="hc-checkbox__item">
              <input
                class="hc-checkbox__input"
                id="checkbox-error-example-1"
                name="errorWithHintExample"
                type="checkbox"
                value="Have-not"
              />

              <label
                class="hc-field-label hc-checkbox__label"
                for="checkbox-error-example-1"
              >
                I have not done X
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- Disabled state -->
    <!-- ============================== -->
    <!-- ============================== -->

    <h3>Disabled with aria -- Unchecked</h3>
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset class="hc-fieldset">
          <legend
            class="hc-fieldset__legend"
            aria-describedby="fieldset-hint-example-2"
          >
            Title for legend
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-example-2">
            Hint text preview to provide ccontext for question
          </div>
          <div class="hc-checkboxes" data-module="hc-checkbox">
            <div class="hc-checkbox__item">
              <input
                class="hc-checkbox__input"
                id="disabled-unchecked-example-1"
                name="disabledCheckboxUnchecked"
                type="checkbox"
                value="disabled-Unchecked"
                aria-disabled="true"
              />
              <!--  -->
              <label
                class="hc-field-label hc-checkbox__label"
                for="disabled-unchecked-example-1"
              >
                Disabled checkbox unchecked
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>

    <h3>Disabled with aria -- Checked</h3>
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset class="hc-fieldset">
          <legend
            class="hc-fieldset__legend"
            aria-describedby="fieldset-hint-example-2"
          >
            Title for legend
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-example-2">
            Hint text preview to provide ccontext for question
          </div>
          <div class="hc-checkboxes" data-module="hc-checkbox">
            <div class="hc-checkbox__item">
              <input
                class="hc-checkbox__input"
                id="disabled-checked-example-1"
                name="waste"
                type="checkbox"
                value="runoff"
                aria-disabled="true"
                checked
              />

              <label
                class="hc-field-label hc-checkbox__label"
                for="disabled-checked-example-1"
              >
                Waste from stream runoff
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
    <!-- Update message area -->
    <div id="updateMessage"></div>
  </body>
</html>
