<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="Checkbox.css" />
    <script src="Checkbox.js" defer></script>
  </head>

  <body class="hc-padding-06">
    <!-- testing for different states -->
    <!-- unchecked group -->
    <h2>Unchecked</h2>

    <!-- default state -->
    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input type="checkbox" id="label1" class="hc-checkbox-input" />
        Default checkbox
      </label>
    </div>

    <!-- focus state -->
    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input type="checkbox" id="label2" class="hc-checkbox-input" />
        Focus checkbox
      </label>
    </div>

    <!-- disabled state -->
    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input
          type="checkbox"
          id="label3"
          aria-disabled="true"
          class="hc-checkbox-input"
        />
        Focusable but disabled checkbox
      </label>
    </div>

    <!-- checked group -->
    <h2>Checked</h2>
    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input type="checkbox" id="label4" checked class="hc-checkbox-input" />
        Default checkbox
      </label>
    </div>

    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input
          type="checkbox"
          checked
          id="label5"
          autofocus
          class="hc-checkbox-input"
        />
        Focus checkbox
      </label>
    </div>

    <div class="hc-checkbox-padding">
      <label class="hc-checkbox-label">
        <input
          type="checkbox"
          id="label6"
          checked
          aria-disabled="true"
          class="hc-checkbox-input"
        />
        Disabled checkbox
      </label>
    </div>

    <!-- Fieldset -->
    <div>
      <fieldset class="hc-checkbox-fieldset">
        <legend class="hc-checkbox-legend">Choose your options</legend>
        <div class="hc-checkbox-padding">
          <label class="hc-checkbox-label">
            <input type="checkbox" id="chk1" class="hc-checkbox-input" />
            Checkbox label 1
          </label>
        </div>

        <div class="hc-checkbox-padding">
          <label class="hc-checkbox-label">
            <input type="checkbox" id="chk2" class="hc-checkbox-input" />
            Checkbox label 2
          </label>
        </div>

        <div class="hc-checkbox-padding">
          <label class="hc-checkbox-label">
            <input type="checkbox" id="chk3" class="hc-checkbox-input" />
            Checkbox label 3
          </label>
        </div>

        <div class="hc-checkbox-padding">
          <label class="hc-checkbox-label">
            <input type="checkbox" id="chk4" class="hc-checkbox-input" />
            Checkbox label 4
          </label>
        </div>
      </fieldset>
    </div>

    <!-- Update message area -->
    <div id="updateMessage"></div>
    <h1>new stylin</h1>
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- New radio button classes -->
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- ============================== -->
    <!-- ============================== -->

    <!-- ============================= -->
    <!-- new styling -->
    <!-- ============================= -->

    <!-- form group wrapper -->
    <!-- this is a class used for all form groups -->
    <!-- only styling is margin-bottom -->
    <div class="hc-form-group">
      <!-- fieldset, this is semantic for accessibility -->
      <fieldset class="hc-fieldset">
        <!-- legend, this is semantic for accessibility -->
        <legend class="hc-fieldset__legend" aria-describedby="fieldset-hint">
          Title for legend
        </legend>
        <!-- secondary text/hint/helper text for question -->
        <div class="hc-text-hint" id="fieldset-hint">
          Hint text preview to provide ccontext for question
        </div>

        <!-- hc-checkboxes is a wrapper -->
        <!-- govuk-checkbox class isn't declared, no style attached to it, in the HTML for readability and BEM (base, element, modifier) naming convention reasons  -->
        <!-- govuk might be using this for the data module part -->
        <div class="hc-checkboxes" data-module="hc-checkbox">
          <!-- individual checkbox item, consists of input and label -->
          <!-- wrapper for input and label
        includes min-height for consistent sizing of form elements
         margin-bottom adds space between items (this might be changed to gap)
        position: relative so that absolute positioning can be used for label and input  -->

          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="waste"
              name="waste"
              type="checkbox"
              value="carcasses"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-label hc-checkbox__label" for="waste">
              Waste from animal carcasses
            </label>
          </div>
          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="id2"
              name="id2"
              type="checkbox"
              value="stuff"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-label hc-checkbox__label" for="id2">
              Waste from animal carcasses
            </label>
          </div>

          <div class="hc-checkbox__item">
            <!-- this is for semantics/accessibility/function, but default browser styling is hidden through opacity: 0; -->
            <!-- ::before and ::after pseudoclass for label is used to layer checkbox and checkmark on top of original input styling -->
            <input
              class="hc-checkbox__input"
              id="Example"
              name="Example"
              type="checkbox"
              value="stuff"
              aria-describedby="example-hint"
            />

            <!-- This contains the label and uses ::before to create the checkbox box, and ::after to create the checkmark -->
            <label class="hc-label hc-checkbox__label" for="Example">
              Waste from animal carcasses
            </label>
            <div id="example-hint" class="hc-text-hint hc-checkbox__hint">
              Example of hint text
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </body>
</html>
