<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js"></script>
  </head>
  <body class="hc-padding-xy-08">
    <h1>Radio Item</h1>

    <h3>New styling</h3>

    <!-- ================ -->
    <!-- ================ -->
    <!-- Default state -->
    <!-- ================ -->
    <!-- ================ -->

    <!-- Disable browser validation for any examples that include form elements -->
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset class="hc-fieldset">
          <legend class="hc-fieldset__legend">Where do you live?</legend>
          <div class="hc-radios" data-module="hc-radios">
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whereDoYouLive"
                name="whereDoYouLive"
                type="radio"
                value="hennepin"
              />
              <label class="hc-label hc-radios__label" for="whereDoYouLive">
                Hennepin county
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whereDoYouLive-2"
                name="whereDoYouLive"
                type="radio"
                value="otherCounty"
              />
              <label class="hc-label hc-radios__label" for="whereDoYouLive-2">
                A county in Minnesota that is not Hennepin County
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whereDoYouLive-3"
                name="whereDoYouLive"
                type="radio"
                value="outsideMN"
              />
              <label class="hc-label hc-radios__label" for="whereDoYouLive-3">
                A US state that is not Minnesota
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whereDoYouLive-4"
                name="whereDoYouLive"
                type="radio"
                value="outsideUS"
              />
              <label class="hc-label hc-radios__label" for="whereDoYouLive-4">
                Outside of the US
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>

    <!-- ================ -->
    <!-- ================ -->
    <!-- With hint -->
    <!-- ================ -->
    <!-- ================ -->
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset
          class="hc-fieldset"
          aria-describedby="fieldset-hint-when-did-you-move"
        >
          <legend class="hc-fieldset__legend">
            Did you move to Minnesota within the last year?
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-when-did-you-move">
            Hint text preview to provide context for question
          </div>
          <div class="hc-radios" data-module="hc-radios">
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whenDidYouMove-1"
                name="whenDidYouMove"
                type="radio"
                value="hennepin"
              />
              <label class="hc-label hc-radios__label" for="whenDidYouMove-1">
                Yes
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="whenDidYouMove-2"
                name="whenDidYouMove"
                type="radio"
                value="otherCounty"
              />
              <label class="hc-label hc-radios__label" for="whenDidYouMove-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
    <!-- ================ -->
    <!-- ================ -->
    <!-- With error -->
    <!-- ================ -->
    <!-- ================ -->
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset
          class="hc-fieldset"
          aria-describedby="fieldset-error-example-1"
        >
          <legend class="hc-fieldset__legend">I want a replacement of</legend>
          <p class="hc-text-error" id="fieldset-error-example-1">
            <span class="hc-visually-hidden">Error:</span> Select what you are
            trying to replace
          </p>
          <div class="hc-radios__item">
            <input
              class="hc-radios__input"
              id="check-1"
              name="checkReplacement"
              type="radio"
              value="SNAP"
            />
            <label class="hc-label hc-radios__label" for="check-1">
              Supplemental Nutrition Assistance Program (SNAP)/food benefits -
              food purchased with benefits was destroyed in a household
              misfortune or disaster
            </label>
          </div>
          <div class="hc-radios" data-module="hc-radios">
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="check-2"
                name="checkReplacement"
                type="radio"
                value="notReceived"
              />
              <label class="hc-label hc-radios__label" for="check-2">
                Mailed check not received
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="check-3"
                name="checkReplacement"
                type="radio"
                value="lostOrStolen"
              />
              <label class="hc-label hc-radios__label" for="check-3">
                Check lost or stolen after received
              </label>
            </div>
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="check-4"
                name="checkReplacement"
                type="radio"
                value="destroyedCheck"
              />
              <label class="hc-label hc-radios__label" for="check-4">
                Mutilated or incorrectly printed check
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
    <!-- ================ -->
    <!-- ================ -->
    <!-- With error and hint -->
    <!-- ================ -->
    <!-- ================ -->
    <form action="/form-handler" method="post" novalidate="">
      <div class="hc-form-group">
        <fieldset
          class="hc-fieldset"
          aria-describedby="fieldset-hint-example-2 fieldset-error-example-2"
        >
          <legend class="hc-fieldset__legend">
            Have you changed your name?
          </legend>
          <div class="hc-text-hint" id="fieldset-hint-example-2">
            This includes changing of spelling
          </div>
          <p class="hc-text-error" id="fieldset-error-example-2">
            <span class="hc-visually-hidden">Error:</span> Select whether you
            have changed your name
          </p>
          <div class="hc-radios__item">
            <input
              class="hc-radios__input"
              id="nameChange-1"
              name="Name change"
              type="radio"
              value="yes"
            />
            <label class="hc-label hc-radios__label" for="nameChange-1">
              Yes
            </label>
          </div>
          <div class="hc-radios" data-module="hc-radios">
            <div class="hc-radios__item">
              <input
                class="hc-radios__input"
                id="nameChange-2"
                name="Name change"
                type="radio"
                value="no"
              />
              <label class="hc-label hc-radios__label" for="check-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </body>
</html>
