<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Breadcrumbs</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="breadcrumbs.css" />
  </head>

  <body class="hc-padding-xy-09">
    <h1 class="hc-margin-top-06">Breadcrumbs</h1>


    <!-- ================ -->
    <!-- ================ -->
    <!-- Breadcrumbs -->
    <!-- ================ -->
    <!-- ================ -->
    <h3>Standard breadcrumbs</h3>

    <nav aria-label="breadcrumbs">
      <ol class="hc-breadcrumbs__list">
        <li class="hc-breadcrumbs__list-item"><a href="#">Home</a></li>
        <li class="hc-breadcrumbs__list-item"><a href="#">Library</a></li>
        <li
          class="hc-breadcrumbs__list-item hc-breadcrumbs__list-item--active"
          aria-current="page"
        >
          Data
        </li>
      </ol>
    </nav>
  </body>
</html>
