<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Breadcrumbs</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link rel="stylesheet" href="../../CSS/index.css" />
    <link rel="stylesheet" href="breadcrumbs.css" />
  </head>

  <body class="hc-padding-x-03">
    <h1 style="margin-bottom: 2rem">Breadcrumbs</h1>

    <h3>Normal breadcrumbs</h3>

    <nav aria-label="breadcrumb">
      <ol class="hc-breadcrumb__list">
        <li class="hc-breadcrumbs__list-item"><a href="#">Home</a></li>
        <li class="hc-breadcrumbs__list-item"><a href="#">Library</a></li>
        <li
          class="hc-breadcrumbs__list-item hc-breadcrumbs__list-item--active"
          aria-current="page"
        >
          Data
        </li>
      </ol>
    </nav>
  </body>
</html>
