.hc-breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0rem;
	margin-bottom: var(--hc-spacing-10);
	list-style: none;
	align-items: start;
}

/* Max-width keeps any individual title from being too long and difficult to read */
.hc-breadcrumbs__list-item {
	display: flex;
	color: var(--hc-link-primary);
	font-family: var(--hc-font-family);
	font-size: var(--hc-font-body-size-regular);
	font-weight: 400;
	max-width: 70ch;
	line-height: 125%;
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item {
	padding-left: var(--hc-spacing-02);
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item::before {
	display: inline-block;
	padding-right: var(--hc-spacing-02);
	color: var(--hc-text-hint);
	content: url(./chevronForward.svg);
}

.hc-breadcrumbs__list-item + .hc-breadcrumbs__list-item:hover::before {
	text-decoration: none;
}

.hc-breadcrumbs__list-item.hc-breadcrumbs__list-item--active {
	color: var(--hc-text-hint);
}

ol.hc-breadcrumbs__list > li:first-child > a::before {
	content: url(./home.svg);
	vertical-align: top;
	display: inline-block;
	padding-inline-end: 2px;
}

/***************************************************************************************
*    Title: Breadcrumbs component (css)
*    Author: Gov.uk
*    Date: Aug 7th, 2023
*    Availability: https://github.com/alphagov/govuk-frontend/blob/a2ff2e41967a38785aaef33135dc7e41cbd6d00b/packages/govuk-frontend/src/govuk/components/breadcrumbs/_index.scss
*
***************************************************************************************/

/* ======================================== */
/* The MIT License (MIT)

Copyright (C) 2017 Crown Copyright (Government Digital Service)

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. */

/* ======================================== */
/* ======================================== */
