.body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table {
    width: 50%;
    margin-bottom: 1rem;
    color: #000;
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;

}
.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}
.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 575.98px) {
.table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive-sm > .table-bordered {
    border: 0;
}
}
@media (max-width: 767.98px) {
.table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive-md > .table-bordered {
    border: 0;
}
}
@media (max-width: 991.98px) {
.table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive-lg > .table-bordered {
    border: 0;
}
}
@media (max-width: 1199.98px) {
.table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive-xl > .table-bordered {
    border: 0;
}
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
    border: 0;
}

/* table sort */
button{
    border: none;
    background-color: #0076dd;
}
.table-sort tr th[role=columnheader] {
    padding: 0;
    position: relative;
}
.table-sort tr th[role=columnheader]:focus-within {
    z-index: 9;
}
.table-sort .btn-table-sort {
    padding: .75rem;
    width: 100%;
    text-align: left;
    white-space: nowrap
}
.table-sort .btn-table-sort:hover {
    background-color: #44c8f5
}
.table-sort .btn-table-sort .sort-arrows {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .5em;
}
.table-sort .btn-table-sort:hover .sort-arrows .down,
.table-sort .btn-table-sort:hover .sort-arrows .up,
.table-sort .btn-table-sort:focus .sort-arrows .down,
.table-sort .btn-table-sort:focus .sort-arrows .up,
.table-sort.ascending .btn-table-sort.sorted .sort-arrows .up,
.table-sort.descending .btn-table-sort.sorted .sort-arrows .down {
    opacity: 1;
}
.table-sort .btn-table-sort .sort-arrows .down,.table-sort .btn-table-sort .sort-arrows .up {
    opacity: .5;
}
.table-sort.ascending .btn-table-sort.sorted .sort-arrows .down,
.table-sort.descending .btn-table-sort.sorted .sort-arrows .up {
    opacity: 0;
}