/* Govuk uses Margin as base styling and then uses padding for combinatory styling so that padding is not an override */

/* Mobile first */

.govuk-body-l + h2,
.govuk-body-lead + h2,
.govuk-body-l + .govuk-heading-l,
.govuk-body-lead + .govuk-heading-l {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  .govuk-body-l + h2,
  .govuk-body-lead + h2,
  .govuk-body-l + .govuk-heading-l,
  .govuk-body-lead + .govuk-heading-l {
    padding-top: 10px;
  }
}

/* Mobile first */
p + h2,
.govuk-body-m + h2,
.govuk-body + h2,
p + .govuk-heading-l,
.govuk-body-m + .govuk-heading-l,
.govuk-body + .govuk-heading-l,
.govuk-body-s + h2,
.govuk-body-s + .govuk-heading-l,
ul + h2,
ol + h2,
.govuk-list + h2,
ul + .govuk-heading-l,
ol + .govuk-heading-l,
.govuk-list + .govuk-heading-l {
  padding-top: 15px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h2,
  .govuk-body-m + h2,
  .govuk-body + h2,
  p + .govuk-heading-l,
  .govuk-body-m + .govuk-heading-l,
  .govuk-body + .govuk-heading-l,
  .govuk-body-s + h2,
  .govuk-body-s + .govuk-heading-l,
  ul + h2,
  ol + h2,
  .govuk-list + h2,
  ul + .govuk-heading-l,
  ol + .govuk-heading-l,
  .govuk-list + .govuk-heading-l {
    padding-top: 20px;
  }
}

/* Mobile */
p + h3,
p + .app-contact-panel__heading,
.govuk-body-m + h3,
.govuk-body-m + .app-contact-panel__heading,
.govuk-body + h3,
.govuk-body + .app-contact-panel__heading,
p + .govuk-heading-m,
.govuk-body-m + .govuk-heading-m,
.govuk-body + .govuk-heading-m,
.govuk-body-s + h3,
.govuk-body-s + .app-contact-panel__heading,
.govuk-body-s + .govuk-heading-m,
ul + h3,
ol + h3,
ul + .app-contact-panel__heading,
ol + .app-contact-panel__heading,
.govuk-list + h3,
.govuk-list + .app-contact-panel__heading,
ul + .govuk-heading-m,
ol + .govuk-heading-m,
.govuk-list + .govuk-heading-m,
p + h4,
.govuk-body-m + h4,
.govuk-body + h4,
p + .govuk-heading-s,
.govuk-body-m + .govuk-heading-s,
.govuk-body + .govuk-heading-s,
.govuk-body-s + h4,
.govuk-body-s + .govuk-heading-s,
ul + h4,
ol + h4,
.govuk-list + h4,
ul + .govuk-heading-s,
ol + .govuk-heading-s,
.govuk-list + .govuk-heading-s {
  padding-top: 5px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  p + h3,
  p + .app-contact-panel__heading,
  .govuk-body-m + h3,
  .govuk-body-m + .app-contact-panel__heading,
  .govuk-body + h3,
  .govuk-body + .app-contact-panel__heading,
  p + .govuk-heading-m,
  .govuk-body-m + .govuk-heading-m,
  .govuk-body + .govuk-heading-m,
  .govuk-body-s + h3,
  .govuk-body-s + .app-contact-panel__heading,
  .govuk-body-s + .govuk-heading-m,
  ul + h3,
  ol + h3,
  ul + .app-contact-panel__heading,
  ol + .app-contact-panel__heading,
  .govuk-list + h3,
  .govuk-list + .app-contact-panel__heading,
  ul + .govuk-heading-m,
  ol + .govuk-heading-m,
  .govuk-list + .govuk-heading-m,
  p + h4,
  .govuk-body-m + h4,
  .govuk-body + h4,
  p + .govuk-heading-s,
  .govuk-body-m + .govuk-heading-s,
  .govuk-body + .govuk-heading-s,
  .govuk-body-s + h4,
  .govuk-body-s + .govuk-heading-s,
  ul + h4,
  ol + h4,
  .govuk-list + h4,
  ul + .govuk-heading-s,
  ol + .govuk-heading-s,
  .govuk-list + .govuk-heading-s {
    padding-top: 10px;
  }
}

/* ========================= */
/* ========================= */
/* Table headings */
/* ========================= */
/* ========================= */

/* Mobile */
hr,
.govuk-section-break {
  margin: 0;
  border: 0;
}

hr,
.govuk-section-break--xl {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Tablet and desktop */
@media (min-width: 40.0625em) {
  hr,
  .govuk-section-break--xl {
    margin-top: 50px;
  }
}

@media (min-width: 40.0625em) {
  hr,
  .govuk-section-break--xl {
    margin-bottom: 50px;
  }
}

.govuk-section-break--l {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-section-break--l {
    margin-top: 30px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-section-break--l {
    margin-bottom: 30px;
  }
}

.govuk-section-break--m {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-section-break--m {
    margin-top: 20px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-section-break--m {
    margin-bottom: 20px;
  }
}

hr,
.govuk-section-break--visible {
  border-bottom: 1px solid #b1b4b6;
}
