
.app-prose-scope ul,.app-prose-scope ol,.govuk-list {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    list-style-type: none
}

@media print {
    .app-prose-scope ul,.app-prose-scope ol,.govuk-list {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .app-prose-scope ul,.app-prose-scope ol,.govuk-list {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-prose-scope ul,.app-prose-scope ol,.govuk-list {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media print {
    .app-prose-scope ul,.app-prose-scope ol,.govuk-list {
        color: #000
    }
}

@media(min-width: 40.0625em) {
    .app-prose-scope ul,.app-prose-scope ol,.govuk-list {
        margin-bottom:20px
    }
}

.app-prose-scope ul ul,.app-prose-scope ol ul,.app-prose-scope ul ol,.app-prose-scope ol ol,.govuk-list .app-prose-scope ul,.app-prose-scope .govuk-list ul,.govuk-list .app-prose-scope ol,.app-prose-scope .govuk-list ol,.app-prose-scope ul .govuk-list,.app-prose-scope ol .govuk-list,.govuk-list .govuk-list {
    margin-top: 10px
}

.app-prose-scope ul>li,.app-prose-scope ol>li,.govuk-list>li {
    margin-bottom: 5px
}

.app-prose-scope ul,.govuk-list--bullet {
    padding-left: 20px;
    list-style-type: disc
}

.app-prose-scope ol,.govuk-list--number {
    padding-left: 20px;
    list-style-type: decimal
}

.app-prose-scope ul>li,.govuk-list--bullet>li,.app-prose-scope ol>li,.govuk-list--number>li {
    margin-bottom: 0
}

@media(min-width: 40.0625em) {
    .app-prose-scope ul>li,.govuk-list--bullet>li,.app-prose-scope ol>li,.govuk-list--number>li {
        margin-bottom:5px
    }
}

.govuk-list--spaced>li {
    margin-bottom: 10px
}

@media(min-width: 40.0625em) {
    .govuk-list--spaced>li {
        margin-bottom:15px
    }
}